In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
op = Optimus("spark")
op.client

WARNING:root:Found pyspark version "3.2.0" installed. The pyspark version 3.2 and above has a built-in "pandas APIs on Spark" module ported from Koalas. Try `import pyspark.pandas as ps` instead.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.
INFO:optimus:Operative System:Windows
INFO:optimus:Just check that all necessary environments vars are present...
INFO:optimus:-----
INFO:optimus:SPARK_HOME=C:\opt\spark\spark-3.1.1-bin-hadoop3.2
INFO:optimus:HADOOP_HOME=C:\opt\hadoop-3.2.2
INFO:optimus:PYSPARK_PYTHON=C:\Users\argenisleon\Anaconda3\envs\python38\python.EXE
INFO:optimus:PYSPARK_DRIVER_PYTHON=jupyter
INFO:optimus:PYSPARK_SUBMIT_ARGS=--conf "spark.sql.catalogImplementation=hive" pyspark-shell
INFO:optimus:JAVA_HOME=C:\java
INFO:optimus:Pyarrow Installed
INFO:optimus:-----
INFO:optimus:Starting or getting SparkSession and SparkContext...
INFO:optimus:Spark Version:3.1.1
INFO:optimus:
                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

INFO:optimus:Transform and Roll out...
INFO:optimus:Optimus successfully imported. Have fun :).

In [5]:
df_csv = op.load.csv("data/cars.csv").execute()
df_csv.display()

C:\Users\argenisleon\Anaconda3\envs\python38\lib\site-packages\databricks\koalas\frame.py:4901: FutureWarning: DataFrame.toPandas is deprecated as of DataFrame.to_pandas. Please use the API instead.
  warnings.warn(

In [15]:
def func(value):
    return value +2
df_csv.cols.upper("Car").cols.round("MPG")

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
CHEVROLET CHEVELLE MALIBU           18            8             307           130       3504            12           70  US
BUICK SKYLARK 320                   15            8             350           165       3693            11.5         70  US
PLYMOUTH SATELLITE                  18            8             318           150       3436            11           70  US
AMC REBEL SST                       16            8             304           150       3433            12           70  US
FORD TORINO                         17            8             302           140       3449            10.5         70  US
FORD GALAXIE 500                    15            8             429           198       4341            10           70  US
CHEVROLET IMPALA                    14            8             454           220       4354             9           70  US
PLYMOUTH FURY III                   14            8             440           215       4312             8.5         70  US
PONTIAC CATALINA                    14            8             455           225       4425            10           70  US
AMC AMBASSADOR DPL                  15            8             390           190       3850             8.5         70  US
CITROEN DS-21 PALLAS                 0            4             133           115       3090            17.5         70  Europe

In [6]:
df_csv["MPG"]>2

     MPG
  (bool)
--------
       1
       1
       1
       1
       1
       1
       1
       1
       1
       1
       0

In [8]:
df_csv

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
Chevrolet Chevelle Malibu           18            8             307           130       3504            12           70  US
Buick Skylark 320                   15            8             350           165       3693            11.5         70  US
Plymouth Satellite                  18            8             318           150       3436            11           70  US
AMC Rebel SST                       16            8             304           150       3433            12           70  US
Ford Torino                         17            8             302           140       3449            10.5         70  US
Ford Galaxie 500                    15            8             429           198       4341            10           70  US
Chevrolet Impala                    14            8             454           220       4354             9           70  US
Plymouth Fury iii                   14            8             440           215       4312             8.5         70  US
Pontiac Catalina                    14            8             455           225       4425            10           70  US
AMC Ambassador DPL                  15            8             390           190       3850             8.5         70  US
Citroen DS-21 Pallas                 0            4             133           115       3090            17.5         70  Europe

In [9]:
threshold = 20
df_csv.cols.z_score("MPG","MPG_zscore").outliers.z_score("MPG",threshold).select()

Car                                   MPG    MPG_zscore    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                        (float64)     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)
----------------------------  -----------  ------------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
Toyota Corolla Mark ii                 24        21.253            4             113            95       2372            15           70  Japan
Datsun PL510                           27        24.253            4              97            88       2130            14.5         70  Japan
Volkswagen 1131 Deluxe Sedan           26        23.253            4              97            46       1835            20.5         70  Europe
Peugeot 504                            25        22.253            4             110            87       2672            17.5         70  Europe
Audi 100 LS                            24        21.253            4             107            90       2430            14.5         70  Europe
Saab 99e                               25        22.253            4             104            95       2375            17.5         70  Europe
BMW 2002                               26        23.253            4             121           113       2234            12.5         70  Europe
Datsun PL510                           27        24.253            4              97            88       2130            14.5         71  Japan
Chevrolet Vega 2300                    28        25.253            4             140            90       2264            15.5         71  US
Toyota Corolla                         25        22.253            4             113            95       2228            14           71  Japan
Ford Pinto                             25        22.253            4              98             0       2046            19           71  US

In [8]:
df_csv.cols.profile()

C:\Users\argenisleon\Anaconda3\envs\python38\lib\site-packages\databricks\koalas\generic.py:603: UserWarning: We recommend using `Series.to_numpy()` instead.
  warnings.warn("We recommend using `{}.to_numpy()` instead.".format(type(self).__name__))

TypeError: Column assignment doesn't support type ndarray

In [7]:
from optimus.engines.spark.dataframe import SparkDataFrame
isinstance(1, SparkDataFrame)

False

In [7]:
df_csv.cols.z_score("MPG")

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
Chevrolet Chevelle Malibu       15.253            8             307           130       3504            12           70  US
Buick Skylark 320               12.253            8             350           165       3693            11.5         70  US
Plymouth Satellite              15.253            8             318           150       3436            11           70  US
AMC Rebel SST                   13.253            8             304           150       3433            12           70  US
Ford Torino                     14.253            8             302           140       3449            10.5         70  US
Ford Galaxie 500                12.253            8             429           198       4341            10           70  US
Chevrolet Impala                11.253            8             454           220       4354             9           70  US
Plymouth Fury iii               11.253            8             440           215       4312             8.5         70  US
Pontiac Catalina                11.253            8             455           225       4425            10           70  US
AMC Ambassador DPL              12.253            8             390           190       3850             8.5         70  US
Citroen DS-21 Pallas            -2.747            4             133           115       3090            17.5         70  Europe

In [6]:
df_csv.cols.csat()

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                     (float64)      (int64)       (float64)       (int64)    (int64)       (float64)    (int64)  (object)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
Chevrolet Chevelle Malibu           18            8             307           130       3504            12           70  US
Buick Skylark 320                   15            8             350           165       3693            11.5         70  US
Plymouth Satellite                  18            8             318           150       3436            11           70  US
AMC Rebel SST                       16            8             304           150       3433            12           70  US
Ford Torino                         17            8             302           140       3449            10.5         70  US
Ford Galaxie 500                    15            8             429           198       4341            10           70  US
Chevrolet Impala                    14            8             454           220       4354             9           70  US
Plymouth Fury iii                   14            8             440           215       4312             8.5         70  US
Pontiac Catalina                    14            8             455           225       4425            10           70  US
AMC Ambassador DPL                  15            8             390           190       3850             8.5         70  US
Citroen DS-21 Pallas                 0            4             133           115       3090            17.5         70  Europe

In [8]:
threshold = 2
df_csv.outliers.z_score("MPG", threshold).select()

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

RecursionError: maximum recursion depth exceeded while calling a Python object

In [9]:
df_csv.cols.percentile()

{'Car': nan,
 'MPG': {0.25: 17.0, 0.5: 22.3, 0.75: 29.0},
 'Cylinders': {0.25: 4.0, 0.5: 4.0, 0.75: 8.0},
 'Displacement': {0.25: 105.0, 0.5: 151.0, 0.75: 302.0},
 'Horsepower': {0.25: 75.0, 0.5: 93.0, 0.75: 129.0},
 'Weight': {0.25: 2226.0, 0.5: 2815.0, 0.75: 3620.0},
 'Acceleration': {0.25: 13.7, 0.5: 15.5, 0.75: 17.2},
 'Model': {0.25: 73.0, 0.5: 76.0, 0.75: 79.0},
 'Origin': nan}

In [8]:
df_csv.cols.iqr()

{'Car': nan,
 'MPG': 12.0,
 'Cylinders': 4.0,
 'Displacement': 197.0,
 'Horsepower': 54.0,
 'Weight': 1394.0,
 'Acceleration': 3.5,
 'Model': 6.0,
 'Origin': nan}

In [23]:
df_csv.profile()

C:\Users\argenisleon\Anaconda3\envs\python38\lib\site-packages\databricks\koalas\generic.py:603: UserWarning: We recommend using `Series.to_numpy()` instead.
  warnings.warn("We recommend using `{}.to_numpy()` instead.".format(type(self).__name__))

TypeError: Column assignment doesn't support type ndarray

## **Imputation - Mean**

In [9]:
df_csv.cols.impute("MPG", strategy="mean")

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
Chevrolet Chevelle Malibu      18                 8             307           130       3504            12           70  US
Buick Skylark 320              15                 8             350           165       3693            11.5         70  US
Plymouth Satellite             18                 8             318           150       3436            11           70  US
AMC Rebel SST                  16                 8             304           150       3433            12           70  US
Ford Torino                    17                 8             302           140       3449            10.5         70  US
Ford Galaxie 500               15                 8             429           198       4341            10           70  US
Chevrolet Impala               14                 8             454           220       4354             9           70  US
Plymouth Fury iii              14                 8             440           215       4312             8.5         70  US
Pontiac Catalina               14                 8             455           225       4425            10           70  US
AMC Ambassador DPL             15                 8             390           190       3850             8.5         70  US
Citroen DS-21 Pallas           23.5146            4             133           115       3090            17.5         70  Europe

In [10]:
df_csv.cols.min("Cylinders")

3.0

In [11]:
df_csv.cols.skew("Horsepower")

0.7453627220171047

## **Quantile Error** Change quartile by percentile

In [12]:
df_csv.cols.percentile(["MPG","Weight"], tidy=True)

{'MPG': {0.25: 17.0, 0.5: 22.3, 0.75: 29.0},
 'Weight': {0.25: 2226.0, 0.5: 2815.0, 0.75: 3620.0}}

## **Mad Error**

In [13]:
df_csv.cols.mad("Weight")

634.0

## Median Error -

In [14]:
df_csv.cols.median("MPG")

In [15]:
df_csv

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
Chevrolet Chevelle Malibu           18            8             307           130       3504            12           70  US
Buick Skylark 320                   15            8             350           165       3693            11.5         70  US
Plymouth Satellite                  18            8             318           150       3436            11           70  US
AMC Rebel SST                       16            8             304           150       3433            12           70  US
Ford Torino                         17            8             302           140       3449            10.5         70  US
Ford Galaxie 500                    15            8             429           198       4341            10           70  US
Chevrolet Impala                    14            8             454           220       4354             9           70  US
Plymouth Fury iii                   14            8             440           215       4312             8.5         70  US
Pontiac Catalina                    14            8             455           225       4425            10           70  US
AMC Ambassador DPL                  15            8             390           190       3850             8.5         70  US
Citroen DS-21 Pallas                 0            4             133           115       3090            17.5         70  Europe

## **Product of Values -

In [19]:
df_csv.cols.prod("Acceleration")

inf

## **Kurt Error** Change kurt by kurtosis

In [20]:
df_csv.cols.kurtosis("Acceleration")

0.35390520583316665

## AGG Function

In [21]:
A = df_csv.agg({"MPG":"max"}, groupby = "Origin")
# print(A)

dict_items([('MPG', 'max')])
{'MPG': ['max']}

## **Data Quality - Error**

In [27]:
df_csv.cols.quality()

C:\Users\argenisleon\Anaconda3\envs\python38\lib\site-packages\databricks\koalas\generic.py:603: UserWarning: We recommend using `Series.to_numpy()` instead.
  warnings.warn("We recommend using `{}.to_numpy()` instead.".format(type(self).__name__))

TypeError: Column assignment doesn't support type ndarray

In [44]:
df_csv.data["Acceleration"].plot.hist()

ImportError: plotly is required for plotting when the default backend 'plotly' is selected.

In [51]:
df_csv.cols.hist("Acceleration")

NameError: name 'parse_spark_dtypes' is not defined

## **Histogram - Error with Spark**

In [33]:
df_csv.plot.hist()

NotImplementedError: "hist_agg" is not available using SparkDataFrame

In [21]:
df_csv

C:\Users\argenisleon\Anaconda3\envs\python38\lib\site-packages\databricks\koalas\frame.py:4901: FutureWarning: DataFrame.toPandas is deprecated as of DataFrame.to_pandas. Please use the API instead.
  warnings.warn(

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------
Chevrolet Chevelle Malibu           18            8             307           130       3504            12           70  US
Buick Skylark 320                   15            8             350           165       3693            11.5         70  US
Plymouth Satellite                  18            8             318           150       3436            11           70  US
AMC Rebel SST                       16            8             304           150       3433            12           70  US
Ford Torino                         17            8             302           140       3449            10.5         70  US
Ford Galaxie 500                    15            8             429           198       4341            10           70  US
Chevrolet Impala                    14            8             454           220       4354             9           70  US
Plymouth Fury iii                   14            8             440           215       4312             8.5         70  US
Pontiac Catalina                    14            8             455           225       4425            10           70  US
AMC Ambassador DPL                  15            8             390           190       3850             8.5         70  US
Citroen DS-21 Pallas                 0            4             133           115       3090            17.5         70  Europe

In [22]:
df_csv>1

     Car       MPG    Cylinders    Displacement    Horsepower    Weight    Acceleration     Model    Origin
  (bool)    (bool)       (bool)          (bool)        (bool)    (bool)          (bool)    (bool)    (bool)
--------  --------  -----------  --------------  ------------  --------  --------------  --------  --------
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         1            1               1             1         1               1         1         0
       0         0            1               1             1         1               1         1         0

## IQR

In [23]:
df_csv.cols.iqr("Acceleration")

3.5

## **Boxplot - Error**

In [19]:
df_csv.cols.boxplot("Acceleration")

df1 <class 'databricks.koalas.frame.DataFrame'>      Acceleration
0            12.0
1            11.5
2            11.0
3            12.0
4            10.5
5            10.0
6             9.0
7             8.5
8            10.0
9             8.5
10           17.5
11           11.5
12           11.0
13           10.5
14           11.0
15           10.0
16            8.0
17            8.0
18            9.5
19           10.0
20           15.0
21           15.5
22           15.5
23           16.0
24           14.5
25           20.5
26           17.5
27           14.5
28           17.5
29           12.5
30           15.0
31           14.0
32           15.0
33           13.5
34           18.5
35           14.5
36           15.5
37           14.0
38           19.0
39           20.0
40           13.0
41           15.5
42           15.5
43           15.5
44           15.5
45           12.0
46           11.5
47           13.5
48           13.0
49           11.5
50           12.0
51           12.0
52           13.5
53           19.0
54           15.0
55           14.5
56           14.0
57           14.0
58           19.5
59           14.5
60           19.0
61           18.0
62           19.0
63           20.5
64           15.5
65           17.0
66           23.5
67           19.5
68           16.5
69           12.0
70           12.0
71           13.5
72           13.0
73           11.5
74           11.0
75           13.5
76           13.5
77           12.5
78           13.5
79           12.5
80           14.0
81           16.0
82           14.0
83           14.5
84           18.0
85           19.5
86           18.0
87           16.0
88           17.0
89           14.5
90           15.0
91           16.5
92           13.0
93           11.5
94           13.0
95           14.5
96           12.5
97           11.5
98           12.0
99           13.0
100          14.5
101          11.0
102          11.0
103          11.0
104          16.5
105          18.0
106          16.0
107          16.5
108          16.0
109          21.0
110          14.0
111          12.5
112          13.0
113          12.5
114          15.0
115          19.0
116          19.5
117          16.5
118          13.5
119          18.5
120          14.0
121          15.5
122          13.0
123           9.5
124          19.5
125          15.5
126          14.0
127          15.5
128          11.0
129          14.0
130          13.5
131          11.0
132          16.5
133          17.0
134          16.0
135          17.0
136          19.0
137          16.5
138          21.0
139          17.0
140          17.0
141          18.0
142          16.5
143          14.0
144          14.5
145          13.5
146          16.0
147          15.5
148          16.5
149          15.5
150          14.5
151          16.5
152          19.0
153          14.5
154          15.5
155          14.0
156          15.0
157          15.5
158          16.0
159          16.0
160          16.0
161          21.0
162          19.5
163          11.5
164          14.0
165          14.5
166          13.5
167          21.0
168          18.5
169          19.0
170          19.0
171          15.0
172          13.5
173          12.0
174          16.0
175          17.0
176          16.0
177          18.5
178          13.5
179          16.5
180          17.0
181          14.5
182          14.0
183          17.0
184          15.0
185          17.0
186          14.5
187          13.5
188          17.5
189          15.5
190          16.9
191          14.9
192          17.7
193          15.3
194          13.0
195          13.0
196          13.9
197          12.8
198          15.4
199          14.5
200          17.6
201          17.6
202          22.2
203          22.1
204          14.2
205          17.4
206          17.7
207          21.0
208          16.2
209          17.8
210          12.2
211          17.0
212          16.4
213          13.6
214          15.7
215          13.2
216          21.9
217          15.5
218          16.7
219          12.1
220          12.0
221          15.0
222          14.0
223          18.5
224          14.8
225          18.6
226          15.5
227          16.8
228          12.5
229          19.0
230          13.7
231          14.9
232          16.4
233          16.9
234          17.7
235          19.0
236          11.1
237          11.4
238          12.2
239          14.5
240          14.5
241          16.0
242          18.2
243          15.8
244          17.0
245          15.9
246          16.4
247          14.1
248          14.5
249          12.8
250          13.5
251          21.5
252          14.4
253          19.4
254          18.6
255          16.4
256          15.5
257          13.2
258          12.8
259          19.2
260          18.2
261          15.8
262          15.4
263          17.2
264          17.2
265          15.8
266          16.7
267          18.7
268          15.1
269          13.2
270          13.4
271          11.2
272          13.7
273          16.5
274          14.2
275          14.7
276          14.5
277          14.8
278          16.7
279          17.6
280          14.9
281          15.9
282          13.6
283          15.7
284          15.8
285          14.9
286          16.6
287          15.4
288          18.2
289          17.3
290          18.2
291          16.6
292          15.4
293          13.4
294          13.2
295          15.2
296          14.9
297          14.3
298          15.0
299          13.0
300          14.0
301          15.2
302          14.4
303          15.0
304          20.1
305          17.4
306          24.8
307          22.2
308          13.2
309          14.9
310          19.2
311          14.7
312          16.0
313          11.3
314          12.9
315          13.2
316          14.7
317          18.8
318          15.5
319          16.4
320          16.5
321          18.1
322          20.1
323          18.7
324          15.8
325          15.5
326          17.5
327          15.0
328          15.2
329          17.9
330          14.4
331          19.2
332          21.7
333          23.7
334          19.9
335          21.8
336          13.8
337          17.3
338          18.0
339          15.3
340          11.4
341          12.5
342          15.1
343          14.3
344          17.0
345          15.7
346          16.4
347          14.4
348          12.6
349          12.9
350          16.9
351          16.4
352          16.1
353          17.8
354          19.4
355          17.3
356          16.0
357          14.9
358          16.2
359          20.7
360          14.2
361          15.8
362          14.4
363          16.8
364          14.8
365          18.3
366          20.4
367          15.4
368          19.6
369          12.6
370          13.8
371          15.8
372          19.0
373          17.1
374          16.6
375          19.6
376          18.6
377          18.0
378          16.2
379          16.0
380          18.0
381          16.4
382          20.5
383          15.3
384          18.2
385          17.6
386          14.7
387          17.3
388          14.5
389          14.5
390          16.9
391          15.0
392          15.7
393          16.2
394          16.4
395          17.0
396          14.5
397          14.7
398          13.9
399          13.0
400          17.3
401          15.6
402          24.6
403          11.6
404          18.6
405          19.4

AttributeError: 'DataFrame' object has no attribute 'get_series'

## **Imputation - Mean, Median, Mode**

In [24]:
import numpy as np

In [25]:
df_csv.display()

In [26]:
df = df_csv.cols.impute("MPG", data_type="continuous", strategy="mode")
df.display()

In [27]:
df = df_csv.cols.impute("MPG", data_type="continuous", strategy="mean")
df.display()

In [28]:
df = df_csv.cols.impute("MPG", data_type="continuous", strategy="median")
df.display()

## **String Imputation - ** Need to add data_type=categorical

In [8]:
import numpy as np
df = op.create.dataframe({ "A":[1,2,3,45,6,2,3], 
                          "B":["Optimus", "Bumblebee", "Eject", "Optimus", "Bumblebee", "Eject", np.nan] })

In [10]:
!python --version

Python 3.7.6

In [12]:
len(df.data)

Py4JJavaError: An error occurred while calling o1090.count.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 6 in stage 20.0 failed 1 times, most recent failure: Lost task 6.0 in stage 20.0 (TID 67) (DESKTOP-H46MBKF executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\spark-3.1.1-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\worker.py", line 477, in main
Exception: Python in worker has different version 3.7 than that in driver 3.8, PySpark cannot run with different minor versions. Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:517)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:652)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:635)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:470)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:489)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2253)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2202)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2201)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2201)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1078)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2440)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2382)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2371)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2202)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2223)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2242)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2267)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1030)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1029)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:390)
	at org.apache.spark.sql.Dataset.$anonfun$count$1(Dataset.scala:3006)
	at org.apache.spark.sql.Dataset.$anonfun$count$1$adapted(Dataset.scala:3005)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:772)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.count(Dataset.scala:3005)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "C:\opt\spark\spark-3.1.1-bin-hadoop3.2\python\lib\pyspark.zip\pyspark\worker.py", line 477, in main
Exception: Python in worker has different version 3.7 than that in driver 3.8, PySpark cannot run with different minor versions. Please check environment variables PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON are correctly set.

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:517)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:652)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:635)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:470)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:489)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [38]:
df.cols.impute("B", data_type="categorical",strategy="most_frequent")

         A  B
  (object)  (object)
----------  ----------
         1  Optimus
         2  Bumblebee
         3  Eject
        45  Optimus
         6  Bumblebee
         2  Eject
         3  Optimus

In [39]:
df.get_series()

0     1
1     2
2     3
3    45
4     6
5     2
6     3
Name: A, dtype: object

## **Z-Score - Error**

In [40]:
df>1

       A         B
  (bool)    (bool)
--------  --------
       0         0
       1         0
       1         0
       1         0
       1         0
       1         0
       1         0

In [41]:
threshold = 2
print(df.outliers.z_score("A", threshold).select())

TypeError: unsupported operand type(s) for |: 'DataFrame' and 'DataFrame'

## **Modified Z-Score - Error**

In [ ]:
print(df.outliers.modified_z_score("A", threshold).select())

## **String-to-index **

In [84]:
df_csv.display()

/usr/local/lib/python3.7/dist-packages/databricks/koalas/frame.py:4904: FutureWarning: DataFrame.toPandas is deprecated as of DataFrame.to_pandas. Please use the API instead.
  FutureWarning,

In [60]:
df_csv.cols.string_to_index()

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin        Horsepower_string_to_index    Displacement_string_to_index    Acceleration_string_to_index    Cylinders_string_to_index    Origin_string_to_index    MPG_string_to_index    Model_string_to_index    Car_string_to_index    Weight_string_to_index
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)                       (float64)                       (float64)                       (float64)                    (float64)                 (float64)              (float64)                (float64)              (float64)                 (float64)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------  ----------------------------  ------------------------------  ------------------------------  ---------------------------  ------------------------  ---------------------  -----------------------  ---------------------  ------------------------
Chevrolet Chevelle Malibu           18            8             307           130       3504            12           70  US                                     2                              24                              42                           10                         0                     28                        2                      1                       255
Buick Skylark 320                   15            8             350           165       3693            11.5         70  US                                     2                              25                               1                           13                         0                     85                        3                      1                       272
Plymouth Satellite                  18            8             318           150       3436            11           70  US                                     2                               0                               4                           11                         0                    247                        2                      1                       249
AMC Rebel SST                       16            8             304           150       3433            12           70  US                                     2                               0                              21                           10                         0                     66                        5                      1                       248
Ford Torino                         17            8             302           140       3449            10.5         70  US                                     2                              13                               9                           45                         0                    188                       17                      1                       252
Ford Galaxie 500                    15            8             429           198       4341            10           70  US                                     2                              50                              44                           28                         0                     15                        3                      1                       324
Chevrolet Impala                    14            8             454           220       4354             9           70  US                                     2                              81                              72                           95                         0                      8                        1                      1                       325
Plymouth Fury iii                   14            8             440           215       4312             8.5         70  US                                     2                              40                              51                           67                         0                     47                        1                      1                       321
Pontiac Catalina                    14            8             455           225       4425            10           70  US                                     2                              41                              45                           28                         0                     19                        1                      1                       333
AMC Ambassador DPL                  15            8             390           190       3850             8.5         70  US                                     2                              39                              71                           67                         0                     58                        3                      1                        36
Citroen DS-21 Pallas                 0            4             133           115       3090            17.5         70  Europe                                 2                              18                              62                           24                         2                    114                       14                      0                       210

## **One Hot Encoding**

In [62]:
df_csv.encoding.one_hot_encoder("Cylinders", drop=False)

Car                                MPG    Cylinders    Displacement    Horsepower     Weight    Acceleration      Model  Origin        Cylinders_3    Cylinders_4    Cylinders_5    Cylinders_6    Cylinders_8
(object)                     (float64)      (int32)       (float64)       (int32)    (int32)       (float64)    (int32)  (object)           (int8)         (int8)         (int8)         (int8)         (int8)
-------------------------  -----------  -----------  --------------  ------------  ---------  --------------  ---------  ----------  -------------  -------------  -------------  -------------  -------------
Chevrolet Chevelle Malibu           18            8             307           130       3504            12           70  US                      0              0              0              0              1
Buick Skylark 320                   15            8             350           165       3693            11.5         70  US                      0              0              0              0              1
Plymouth Satellite                  18            8             318           150       3436            11           70  US                      0              0              0              0              1
AMC Rebel SST                       16            8             304           150       3433            12           70  US                      0              0              0              0              1
Ford Torino                         17            8             302           140       3449            10.5         70  US                      0              0              0              0              1
Ford Galaxie 500                    15            8             429           198       4341            10           70  US                      0              0              0              0              1
Chevrolet Impala                    14            8             454           220       4354             9           70  US                      0              0              0              0              1
Plymouth Fury iii                   14            8             440           215       4312             8.5         70  US                      0              0              0              0              1
Pontiac Catalina                    14            8             455           225       4425            10           70  US                      0              0              0              0              1
AMC Ambassador DPL                  15            8             390           190       3850             8.5         70  US                      0              0              0              0              1
Citroen DS-21 Pallas                 0            4             133           115       3090            17.5         70  Europe                  0              1              0              0              0

## **Joining Data - Error**

In [5]:
df_a = op.create.dataframe({ "id": [143, 225, 545, 765, 152], 
                            "name": ["Alice", "Bob", "Charlie", "Dan", "Frank"] }) 
df_b = op.create.dataframe({ "id": [225, 545, 765, 152, 329], 
                            "city": ["Bradford", "Norwich", "Bath", "Ripon", "Manchester"], 
                            "placeholder": ["BRA", "NOR", "BAT", "RIP", "MAN"] })
df_a.display()
df_b.display()

C:\Users\argenisleon\Anaconda3\envs\python38\lib\site-packages\databricks\koalas\frame.py:4901: FutureWarning: DataFrame.toPandas is deprecated as of DataFrame.to_pandas. Please use the API instead.
  warnings.warn(

In [53]:
df_a.cols.join(df_b, how="outer", on="id")

C:\Users\argenisleon\Anaconda3\envs\python38\lib\site-packages\databricks\koalas\frame.py:4901: FutureWarning: DataFrame.toPandas is deprecated as of DataFrame.to_pandas. Please use the API instead.
  warnings.warn(

   id_left  name          id_right  city        placeholder
  (object)  (object)      (object)  (object)    (object)
----------  ----------  ----------  ----------  -------------
                               329  Manchester  MAN
       545  Charlie            545  Norwich     NOR
       143  Alice
       152  Frank              152  Ripon       RIP
       225  Bob                225  Bradford    BRA
       765  Dan                765  Bath        BAT

In [54]:
df_a.cols.join(df_b, on="id")

   id_left  name          id_right  city        placeholder
  (object)  (object)      (object)  (object)    (object)
----------  ----------  ----------  ----------  -------------
       545  Charlie            545  Norwich     NOR
       143  Alice
       152  Frank              152  Ripon       RIP
       225  Bob                225  Bradford    BRA
       765  Dan                765  Bath        BAT

## **Pivoting - Error**

In [15]:
df = op.create.dataframe({ "date": ["1/1/21", "1/1/21", "1/2/21", "1/2/21", "1/3/21", "1/3/21", "1/3/21", "1/3/21", "1/3/21"], 
                          "product": ["Coffee", "Coffee", "Tea", "Coffee", "Tea", "Coffee", "Tea", "Tea", "Coffee"], 
                          "size": ["big", "big", "big", "big", "big", "small", "small", "small", "small"], 
                          "price": [1.5, 1.5, 2, 1.5, 2, 1, 1.25, 1.25, 1] }).execute()

In [10]:
df.display()

In [13]:
df.stratified_sample("product")

date        product     size             price
(object)    (object)    (object)      (object)
----------  ----------  ----------  ----------
1/1/21      Coffee      big               1.5
1/1/21      Coffee      big               1.5
1/2/21      Tea         big               2
1/3/21      Tea         big               2
1/3/21      Coffee      small             1
1/3/21      Tea         small             1.25
1/3/21      Tea         small             1.25
1/3/21      Coffee      small             1

In [32]:
df.pivot("date", groupby="product", values="size")

product     1/1/21      1/2/21      1/3/21
(object)    (object)    (object)    (object)
----------  ----------  ----------  ----------
Tea                     big         big
Coffee      big         big         small

In [33]:
df.pivot("date", groupby="product", agg=("common", "size")).print()

AssertionError: all exprs should be Column