In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [165]:
from optimus import Optimus
op = Optimus("dask", n_workers=4, threads_per_worker=2, processes=False, memory_limit="3G", comm=True)

C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\dashboard\core.py:79: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn("\n" + msg)

In [531]:
# df = op.load.csv("http://159.65.217.17:5003/uploads/datasetFile-1589815911139.csv", sep=",", error_bad_lines=False, header=True, null_value="null", infer_schema="true", encoding="UTF-8", quoting=0, lineterminator=None, cache=True).ext.cache()
# df = op.load.csv("http://159.65.217.17:5003/uploads/datasetFile-1590006020188.csv", sep=",", error_bad_lines=False, header=True, null_value="null", infer_schema="true", encoding="UTF-8", quoting=0, lineterminator=None, cache=True).ext.cache()
df = op.load.file("data/dataset - transactions.csv").ext.cache()

df = df.ext.optimize()

In [532]:
df.ext.display()

In [533]:
# df[["customer_id", "product"]]

In [534]:
from dask import dataframe as dd
import pandas as pd
data = {"customer_id_x":["0f345kjh345oiuy345"], "transactoin_date":["hola"]}
pdf = pd.DataFrame(data)
print(pdf)
df_right = dd.from_pandas(pdf, npartitions=1)

        customer_id_x transactoin_date
0  0f345kjh345oiuy345             hola

In [535]:
df.ext.display()

In [536]:
df.cols.join(df_right,how="left", left_on="customer_id", right_on="customer_id_x").ext.display(100)

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 100 elements requested, only 17 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [537]:
data = {"customer_id":["0f345kjh345oiuy345"], "transactoin_date":["hola"]}
pdf = pd.DataFrame(data)
# print(pdf)
df_right = dd.from_pandas(pdf, npartitions=1)

In [538]:
df.cols.join(df_right,how="inner", left_on="customer_id", right_on="customer_id")

Dask DataFrame Structure:
              transactoin_date_left ticket_price discount product customer_id   info transactoin_date_right
npartitions=1
                             object       object   object  object      object  uint8                 object
                                ...          ...      ...     ...         ...    ...                    ...
Dask Name: getitem, 14 tasks

In [530]:
test_df.compute()

,transactoin_date_left,ticket_price,discount,product,customer_id,info,transactoin_date_right
0,2010/08/19,29.99,NaN,platinum,0f345kjh345oiuy345,1,hola

In [490]:
# z = test_df.cols.count()
# lz = test_df.cols.names()
lz = test_df.cols.count()

li =  df.cols.count()
lj = df_right.cols.count()
print(lz-lj)
test_df.cols.names()[:li] + ["customer_id"]+test_df.cols.names()[lz-lj:lz]

6

['transactoin_date_left',
 'ticket_price',
 'discount',
 'product',
 'info',
 'customer_id',
 'customer_id',
 'info',
 'transactoin_date_right']

['transactoin_date_left',
 'ticket_price',
 'discount',
 'product',
 'info',
 'info',
 'transactoin_date_right']

In [ ]:
'customer_id', 'transactoin_date', 'ticket_price', 'discount', 'product', 'info', 'A', 'B'

In [252]:
df.ext.display()

In [189]:
df = df.cols.replace("discount", search=["%"], replace_by="", search_by="chars", ignore_case=True, output_cols="discount").ext.cache()
df.ext.display()
# pdf = df.compute()
# print("AAAAA",df.ext.profile(columns="*", infer=True)["columns"]["discount"])

In [190]:
for i in pdf["discount"]:
    print(i, type(i))

nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
5 <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
5 <class 'str'>
5 <class 'str'>
nan <class 'float'>
nan <class 'float'>
5 <class 'str'>
nan <class 'float'>
5 <class 'str'>
nan <class 'float'>

In [191]:
pdf.cols.profiler_dtypes("*")

{'customer_id': None,
 'transactoin_date': None,
 'ticket_price': None,
 'discount': None,
 'product': None,
 'info': None}

In [192]:
df.ext.display()

In [193]:
df.cols.count_mismatch({"discount":"int"})

BBBB {'discount': 'int'}
result {'discount': {'mismatch': 0, 'missing': 12, 'match': 5, 'profiler_dtype': 'int'}}

{'discount': {'mismatch': 0,
  'missing': 12,
  'match': 5,
  'profiler_dtype': 'int'}}

In [95]:
df.cols.frequency("first_name", count_uniques = True)

ValueError: 'missing_columns' must be 'customer_id', 'transactoin_date', 'ticket_price', 'discount', 'product', 'info', received 'first_name'.

In [75]:
%timeit df.ext.profile("*")

3.57 ms  328 s per loop (mean  std. dev. of 7 runs, 100 loops each)

In [67]:
df.cols.count_uniques("customer_id")

{'customer_id': {'count_uniques': 1}}

In [62]:
df.cols.profiler_dtypes("*")

{'customer_id': None,
 'first_name': None,
 'last_name': None,
 'current_credit_card': None,
 'address_zip': None,
 'email': None,
 'address_street_number': None,
 'address_city': None,
 'address_state': None,
 'adress_zip': None,
 'phone_number': None,
 'start_date': None,
 'end_date': None,
 'transaction_date': None,
 'ticket_price': None,
 'discount': None,
 'discounted_ticket_price': None}

In [66]:
# for col_name in df.cols.names():
#     print(col_name)
df.ext.profile("*")

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\numpy\lib\histograms.py:433: RuntimeWarning: invalid value encountered in greater
  if np.any(bin_edges[:-1] > bin_edges[1:]):
C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 30 elements requested, only 9 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

result {'customer_id': {'mismatch': 0, 'missing': 9, 'match': 0, 'profiler_dtype': 'object'}, 'first_name': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'last_name': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'current_credit_card': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'address_zip': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'email': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'email'}, 'address_street_number': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'address_city': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'address_state': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'adress_zip': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'phone_number': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'start_date': {'mismatch': 9, 'missing': 0, 'match': 0, 'profiler_dtype': 'date'}, 'end_date': {'mismatch': 3, 'missing': 6, 'match': 0, 'profiler_dtype': 'date'}, 'transaction_date': {'mismatch': 9, 'missing': 0, 'match': 0, 'profiler_dtype': 'date'}, 'ticket_price': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'decimal'}, 'discount': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'decimal'}, 'discounted_ticket_price': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'decimal'}}

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\numpy\lib\histograms.py:433: RuntimeWarning: invalid value encountered in greater
  if np.any(bin_edges[:-1] > bin_edges[1:]):

{'columns': {'customer_id': {'stats': {'mismatch': 0,
    'missing': 9,
    'match': 0,
    'hist': [{'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 0},
     {'lower': nan, 'upper': nan, 'count': 9}],
    'count_uniques': 0},
   'dtype': 'float64',
   'profiler_dtype': 'object'},
  'first_name': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'frequency': [{'value': 'LAUREY', 'count': 3},
     {'value': 'GARRIE', 'count': 3},
     {'value': 'ERIN', 'count': 2},
     {'value': 'DEVINDER', 'count': 1}],
    'count_uniques': 4},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'last_name': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'frequency': [{'value': 'MULANAX', 'count': 3},
     {'value': 'DZVONIK', 'count': 3},
     {'value': 'BIFFAR', 'count': 3}],
    'count_uniques': 3},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'current_credit_card': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'hist': [{'lower': 4189789432146548.0,
      'upper': 4189789432146548.0,
      'count': 0},
     {'lower': 4189789432146548.0, 'upper': 4189789432146548.5, 'count': 1},
     {'lower': 4189789432146548.5, 'upper': 4189789432146549.0, 'count': 0},
     {'lower': 4189789432146549.0, 'upper': 4189789432146549.0, 'count': 0},
     {'lower': 4189789432146549.0, 'upper': 4189789432146549.0, 'count': 0},
     {'lower': 4189789432146549.0, 'upper': 4189789432146549.5, 'count': 1},
     {'lower': 4189789432146549.5, 'upper': 4189789432146550.0, 'count': 0},
     {'lower': 4189789432146550.0, 'upper': 4189789432146550.0, 'count': 0},
     {'lower': 4189789432146550.0, 'upper': 4189789432146550.0, 'count': 0},
     {'lower': 4189789432146550.0, 'upper': 4189789432146550.5, 'count': 1},
     {'lower': 4189789432146550.5, 'upper': 4189789432146551.0, 'count': 0},
     {'lower': 4189789432146551.0, 'upper': 4189789432146551.0, 'count': 0},
     {'lower': 4189789432146551.0, 'upper': 4189789432146551.0, 'count': 0},
     {'lower': 4189789432146551.0, 'upper': 4189789432146551.5, 'count': 1},
     {'lower': 4189789432146551.5, 'upper': 4189789432146552.0, 'count': 0},
     {'lower': 4189789432146552.0, 'upper': 4189789432146552.0, 'count': 0},
     {'lower': 4189789432146552.0, 'upper': 4189789432146552.0, 'count': 0},
     {'lower': 4189789432146552.0, 'upper': 4189789432146552.5, 'count': 1},
     {'lower': 4189789432146552.5, 'upper': 4189789432146553.0, 'count': 0},
     {'lower': 4189789432146553.0, 'upper': 4189789432146553.0, 'count': 0},
     {'lower': 4189789432146553.0, 'upper': 4189789432146553.0, 'count': 0},
     {'lower': 4189789432146553.0, 'upper': 4189789432146553.5, 'count': 1},
     {'lower': 4189789432146553.5, 'upper': 4189789432146554.0, 'count': 0},
     {'lower': 4189789432146554.0, 'upper': 4189789432146554.0, 'count': 0},
     {'lower': 4189789432146554.0, 'upper': 4189789432146554.0, 'count': 0},
     {'lower': 4189789432146554.0, 'upper': 4189789432146554.5, 'count': 1},
     {'lower': 4189789432146554.5, 'upper': 4189789432146555.0, 'count': 0},
     {'lower': 4189789432146555.0, 'upper': 4189789432146555.0, 'count': 0},
     {'lower': 4189789432146555.0, 'upper': 4189789432146555.0, 'count': 0},
     {'lower': 4189789432146555.0, 'upper': 4189789432146555.5, 'count': 1},
     {'lower': 4189789432146555.5, 'upper': 4189789432146556.0, 'count': 0},
     {'lower': 4189789432146556.0, 'upper': 4189789432146556.0, 'count': 1}],
    'count_uniques': 9},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'address_zip': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'hist': [{'lower': 7731.0, 'upper': 10544.28125, 'count': 3},
     {'lower': 10544.28125, 'upper': 13357.5625, 'count': 0},
     {'lower': 13357.5625, 'upper': 16170.84375, 'count': 0},
     {'lower': 16170.84375, 'upper': 18984.125, 'count': 0},
     {'lower': 18984.125, 'upper': 21797.40625, 'count': 0},
     {'lower': 21797.40625, 'upper': 24610.6875, 'count': 0},
     {'lower': 24610.6875, 'upper': 27423.96875, 'count': 0},
     {'lower': 27423.96875, 'upper': 30237.25, 'count': 0},
     {'lower': 30237.25, 'upper': 33050.53125, 'count': 0},
     {'lower': 33050.53125, 'upper': 35863.8125, 'count': 0},
     {'lower': 35863.8125, 'upper': 38677.09375, 'count': 0},
     {'lower': 38677.09375, 'upper': 41490.375, 'count': 0},
     {'lower': 41490.375, 'upper': 44303.65625, 'count': 0},
     {'lower': 44303.65625, 'upper': 47116.9375, 'count': 0},
     {'lower': 47116.9375, 'upper': 49930.21875, 'count': 0},
     {'lower': 49930.21875, 'upper': 52743.5, 'count': 0},
     {'lower': 52743.5, 'upper': 55556.78125, 'count': 0},
     {'lower': 55556.78125, 'upper': 58370.0625, 'count': 0},
     {'lower': 58370.0625, 'upper': 61183.34375, 'count': 0},
     {'lower': 61183.34375, 'upper': 63996.625, 'count': 0},
     {'lower': 63996.625, 'upper': 66809.90625, 'count': 0},
     {'lower': 66809.90625, 'upper': 69623.1875, 'count': 0},
     {'lower': 69623.1875, 'upper': 72436.46875, 'count': 0},
     {'lower': 72436.46875, 'upper': 75249.75, 'count': 0},
     {'lower': 75249.75, 'upper': 78063.03125, 'count': 0},
     {'lower': 78063.03125, 'upper': 80876.3125, 'count': 0},
     {'lower': 80876.3125, 'upper': 83689.59375, 'count': 0},
     {'lower': 83689.59375, 'upper': 86502.875, 'count': 0},
     {'lower': 86502.875, 'upper': 89316.15625, 'count': 0},
     {'lower': 89316.15625, 'upper': 92129.4375, 'count': 0},
     {'lower': 92129.4375, 'upper': 94942.71875, 'count': 3},
     {'lower': 94942.71875, 'upper': 97756.0, 'count': 3}],
    'count_uniques': 3},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'email': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'frequency': [{'value': 'mulanax60@yahoo.com', 'count': 3},
     {'value': 'laurey.biffar@mac.com', 'count': 3},
     {'value': 'dzvonik30@att.net', 'count': 3}],
    'count_uniques': 3},
   'dtype': 'object',
   'profiler_dtype': 'email'},
  'address_street_number': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'frequency': [{'value': '9195 George Street', 'count': 3},
     {'value': '444 Bank Street', 'count': 3},
     {'value': '882 Park Place', 'count': 2},
     {'value': '3278 7th AVE', 'count': 1}],
    'count_uniques': 4},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'address_city': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'frequency': [{'value': 'Elk Frove', 'count': 3},
     {'value': 'Cleveland', 'count': 3},
     {'value': 'Santa Ana', 'count': 2},
     {'value': 'Howell', 'count': 1}],
    'count_uniques': 4},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'address_state': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'frequency': [{'value': 'CA', 'count': 5},
     {'value': 'OH', 'count': 3},
     {'value': 'NJ', 'count': 1}],
    'count_uniques': 3},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'adress_zip': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'hist': [{'lower': 7731.0, 'upper': 10544.28125, 'count': 3},
     {'lower': 10544.28125, 'upper': 13357.5625, 'count': 0},
     {'lower': 13357.5625, 'upper': 16170.84375, 'count': 0},
     {'lower': 16170.84375, 'upper': 18984.125, 'count': 0},
     {'lower': 18984.125, 'upper': 21797.40625, 'count': 0},
     {'lower': 21797.40625, 'upper': 24610.6875, 'count': 0},
     {'lower': 24610.6875, 'upper': 27423.96875, 'count': 0},
     {'lower': 27423.96875, 'upper': 30237.25, 'count': 0},
     {'lower': 30237.25, 'upper': 33050.53125, 'count': 0},
     {'lower': 33050.53125, 'upper': 35863.8125, 'count': 0},
     {'lower': 35863.8125, 'upper': 38677.09375, 'count': 0},
     {'lower': 38677.09375, 'upper': 41490.375, 'count': 0},
     {'lower': 41490.375, 'upper': 44303.65625, 'count': 0},
     {'lower': 44303.65625, 'upper': 47116.9375, 'count': 0},
     {'lower': 47116.9375, 'upper': 49930.21875, 'count': 0},
     {'lower': 49930.21875, 'upper': 52743.5, 'count': 0},
     {'lower': 52743.5, 'upper': 55556.78125, 'count': 0},
     {'lower': 55556.78125, 'upper': 58370.0625, 'count': 0},
     {'lower': 58370.0625, 'upper': 61183.34375, 'count': 0},
     {'lower': 61183.34375, 'upper': 63996.625, 'count': 0},
     {'lower': 63996.625, 'upper': 66809.90625, 'count': 0},
     {'lower': 66809.90625, 'upper': 69623.1875, 'count': 0},
     {'lower': 69623.1875, 'upper': 72436.46875, 'count': 0},
     {'lower': 72436.46875, 'upper': 75249.75, 'count': 0},
     {'lower': 75249.75, 'upper': 78063.03125, 'count': 0},
     {'lower': 78063.03125, 'upper': 80876.3125, 'count': 0},
     {'lower': 80876.3125, 'upper': 83689.59375, 'count': 0},
     {'lower': 83689.59375, 'upper': 86502.875, 'count': 0},
     {'lower': 86502.875, 'upper': 89316.15625, 'count': 0},
     {'lower': 89316.15625, 'upper': 92129.4375, 'count': 0},
     {'lower': 92129.4375, 'upper': 94942.71875, 'count': 3},
     {'lower': 94942.71875, 'upper': 97756.0, 'count': 3}],
    'count_uniques': 3},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'phone_number': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'frequency': [{'value': '(732)353-4861', 'count': 3},
     {'value': '(714) 633-4198', 'count': 3},
     {'value': '(541) 727-8215', 'count': 3}],
    'count_uniques': 3},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'start_date': {'stats': {'mismatch': 9,
    'missing': 0,
    'match': 0,
    'frequency': [{'value': '2014/12/26', 'count': 3},
     {'value': '2012/09/03', 'count': 3},
     {'value': '2010/01/02', 'count': 3}],
    'count_uniques': 3},
   'dtype': 'datetime64[ns]',
   'profiler_dtype': 'date'},
  'end_date': {'stats': {'mismatch': 3,
    'missing': 6,
    'match': 0,
    'frequency': [{'value': '2013/09/08', 'count': 3}],
    'count_uniques': 1},
   'dtype': 'datetime64[ns]',
   'profiler_dtype': 'date'},
  'transaction_date': {'stats': {'mismatch': 9,
    'missing': 0,
    'match': 0,
    'frequency': [{'value': '2015/07/06', 'count': 2},
     {'value': '2013/12/09', 'count': 2},
     {'value': '2012/09/03', 'count': 2},
     {'value': '2015/08/05', 'count': 1},
     {'value': '2014/01/08', 'count': 1},
     {'value': '2012/10/03', 'count': 1}],
    'count_uniques': 6},
   'dtype': 'datetime64[ns]',
   'profiler_dtype': 'date'},
  'ticket_price': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'hist': [{'lower': 0.01, 'upper': 0.415625, 'count': 3},
     {'lower': 0.415625, 'upper': 0.82125, 'count': 0},
     {'lower': 0.82125, 'upper': 1.226875, 'count': 0},
     {'lower': 1.226875, 'upper': 1.6325, 'count': 0},
     {'lower': 1.6325, 'upper': 2.038125, 'count': 0},
     {'lower': 2.038125, 'upper': 2.4437499999999996, 'count': 0},
     {'lower': 2.4437499999999996, 'upper': 2.8493749999999998, 'count': 0},
     {'lower': 2.8493749999999998, 'upper': 3.255, 'count': 0},
     {'lower': 3.255, 'upper': 3.660625, 'count': 0},
     {'lower': 3.660625, 'upper': 4.06625, 'count': 0},
     {'lower': 4.06625, 'upper': 4.471875, 'count': 0},
     {'lower': 4.471875, 'upper': 4.8774999999999995, 'count': 0},
     {'lower': 4.8774999999999995, 'upper': 5.283125, 'count': 0},
     {'lower': 5.283125, 'upper': 5.68875, 'count': 0},
     {'lower': 5.68875, 'upper': 6.094375, 'count': 0},
     {'lower': 6.094375, 'upper': 6.5, 'count': 0},
     {'lower': 6.5, 'upper': 6.905625, 'count': 0},
     {'lower': 6.905625, 'upper': 7.31125, 'count': 0},
     {'lower': 7.31125, 'upper': 7.716875, 'count': 0},
     {'lower': 7.716875, 'upper': 8.1225, 'count': 0},
     {'lower': 8.1225, 'upper': 8.528125, 'count': 0},
     {'lower': 8.528125, 'upper': 8.93375, 'count': 0},
     {'lower': 8.93375, 'upper': 9.339375, 'count': 0},
     {'lower': 9.339375, 'upper': 9.745, 'count': 0},
     {'lower': 9.745, 'upper': 10.150625, 'count': 2},
     {'lower': 10.150625, 'upper': 10.55625, 'count': 0},
     {'lower': 10.55625, 'upper': 10.961875000000001, 'count': 0},
     {'lower': 10.961875000000001, 'upper': 11.3675, 'count': 0},
     {'lower': 11.3675, 'upper': 11.773125, 'count': 0},
     {'lower': 11.773125, 'upper': 12.17875, 'count': 0},
     {'lower': 12.17875, 'upper': 12.584375, 'count': 0},
     {'lower': 12.584375, 'upper': 12.99, 'count': 4}],
    'count_uniques': 3},
   'dtype': 'float64',
   'profiler_dtype': 'decimal'},
  'discount': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'hist': [{'lower': 0.0, 'upper': 0.003125, 'count': 8},
     {'lower': 0.003125, 'upper': 0.00625, 'count': 0},
     {'lower': 0.00625, 'upper': 0.009375000000000001, 'count': 0},
     {'lower': 0.009375000000000001, 'upper': 0.0125, 'count': 0},
     {'lower': 0.0125, 'upper': 0.015625, 'count': 0},
     {'lower': 0.015625, 'upper': 0.018750000000000003, 'count': 0},
     {'lower': 0.018750000000000003,
      'upper': 0.021875000000000002,
      'count': 0},
     {'lower': 0.021875000000000002, 'upper': 0.025, 'count': 0},
     {'lower': 0.025, 'upper': 0.028125, 'count': 0},
     {'lower': 0.028125, 'upper': 0.03125, 'count': 0},
     {'lower': 0.03125, 'upper': 0.034375, 'count': 0},
     {'lower': 0.034375, 'upper': 0.037500000000000006, 'count': 0},
     {'lower': 0.037500000000000006, 'upper': 0.040625, 'count': 0},
     {'lower': 0.040625, 'upper': 0.043750000000000004, 'count': 0},
     {'lower': 0.043750000000000004, 'upper': 0.046875, 'count': 0},
     {'lower': 0.046875, 'upper': 0.05, 'count': 0},
     {'lower': 0.05, 'upper': 0.053125000000000006, 'count': 0},
     {'lower': 0.053125000000000006, 'upper': 0.05625, 'count': 0},
     {'lower': 0.05625, 'upper': 0.059375000000000004, 'count': 0},
     {'lower': 0.059375000000000004, 'upper': 0.0625, 'count': 0},
     {'lower': 0.0625, 'upper': 0.065625, 'count': 0},
     {'lower': 0.065625, 'upper': 0.06875, 'count': 0},
     {'lower': 0.06875, 'upper': 0.07187500000000001, 'count': 0},
     {'lower': 0.07187500000000001, 'upper': 0.07500000000000001, 'count': 0},
     {'lower': 0.07500000000000001, 'upper': 0.078125, 'count': 0},
     {'lower': 0.078125, 'upper': 0.08125, 'count': 0},
     {'lower': 0.08125, 'upper': 0.084375, 'count': 0},
     {'lower': 0.084375, 'upper': 0.08750000000000001, 'count': 0},
     {'lower': 0.08750000000000001, 'upper': 0.09062500000000001, 'count': 0},
     {'lower': 0.09062500000000001, 'upper': 0.09375, 'count': 0},
     {'lower': 0.09375, 'upper': 0.096875, 'count': 0},
     {'lower': 0.096875, 'upper': 0.1, 'count': 1}],
    'count_uniques': 2},
   'dtype': 'float64',
   'profiler_dtype': 'decimal'},
  'discounted_ticket_price': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 9,
    'hist': [{'lower': 0.01, 'upper': 0.415625, 'count': 3},
     {'lower': 0.415625, 'upper': 0.82125, 'count': 0},
     {'lower': 0.82125, 'upper': 1.226875, 'count': 0},
     {'lower': 1.226875, 'upper': 1.6325, 'count': 0},
     {'lower': 1.6325, 'upper': 2.038125, 'count': 0},
     {'lower': 2.038125, 'upper': 2.4437499999999996, 'count': 0},
     {'lower': 2.4437499999999996, 'upper': 2.8493749999999998, 'count': 0},
     {'lower': 2.8493749999999998, 'upper': 3.255, 'count': 0},
     {'lower': 3.255, 'upper': 3.660625, 'count': 0},
     {'lower': 3.660625, 'upper': 4.06625, 'count': 0},
     {'lower': 4.06625, 'upper': 4.471875, 'count': 0},
     {'lower': 4.471875, 'upper': 4.8774999999999995, 'count': 0},
     {'lower': 4.8774999999999995, 'upper': 5.283125, 'count': 0},
     {'lower': 5.283125, 'upper': 5.68875, 'count': 0},
     {'lower': 5.68875, 'upper': 6.094375, 'count': 0},
     {'lower': 6.094375, 'upper': 6.5, 'count': 0},
     {'lower': 6.5, 'upper': 6.905625, 'count': 0},
     {'lower': 6.905625, 'upper': 7.31125, 'count': 0},
     {'lower': 7.31125, 'upper': 7.716875, 'count': 0},
     {'lower': 7.716875, 'upper': 8.1225, 'count': 0},
     {'lower': 8.1225, 'upper': 8.528125, 'count': 0},
     {'lower': 8.528125, 'upper': 8.93375, 'count': 0},
     {'lower': 8.93375, 'upper': 9.339375, 'count': 0},
     {'lower': 9.339375, 'upper': 9.745, 'count': 0},
     {'lower': 9.745, 'upper': 10.150625, 'count': 2},
     {'lower': 10.150625, 'upper': 10.55625, 'count': 0},
     {'lower': 10.55625, 'upper': 10.961875000000001, 'count': 0},
     {'lower': 10.961875000000001, 'upper': 11.3675, 'count': 0},
     {'lower': 11.3675, 'upper': 11.773125, 'count': 1},
     {'lower': 11.773125, 'upper': 12.17875, 'count': 0},
     {'lower': 12.17875, 'upper': 12.584375, 'count': 0},
     {'lower': 12.584375, 'upper': 12.99, 'count': 3}],
    'count_uniques': 4},
   'dtype': 'float64',
   'profiler_dtype': 'decimal'}},
 'name': None,
 'file_name': 'datasetFile-1590006020188.csv',
 'summary': {'cols_count': 17,
  'rows_count': 9,
  'size': '1.4 kB',
  'dtypes_list': ['datetime64[ns]', 'object', 'float64'],
  'total_count_dtypes': 3,
  'missing_count': 15,
  'p_missing': 166.67}}

In [45]:
a = ({'customer_id': 'object', 'first_name': 'string', 'last_name': 'string', 'current_credit_card': 'credit_card_number', 
      
      })
mismatch = df.cols.count_mismatch(a, infer=True)
print(mismatch)

{'customer_id': {'mismatch': 0, 'missing': 9, 'match': 0, 'profiler_dtype': 'object'}, 'first_name': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'last_name': {'mismatch': 0, 'missing': 0, 'match': 9, 'profiler_dtype': 'string'}, 'current_credit_card': {'mismatch': 9, 'missing': 0, 'match': 0, 'profiler_dtype': 'credit_card_number'}}

In [ ]:
df.cols.cast("email", object).compute()

In [69]:
df.cols.profiler_dtypes("*")

{'customer_id': None,
 'transactoin_date': None,
 'ticket_price': None,
 'discount': None,
 'product': None}

In [70]:
df.ext.profile(columns="*", infer=True)

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 30 elements requested, only 17 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

{'columns': {'customer_id': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 17,
    'frequency': [{'value': '0fju234978rfjkhsdf', 'count': 4},
     {'value': '0f34ruiy23e78y2r', 'count': 4},
     {'value': '0fue298y2r23r23r5', 'count': 1},
     {'value': '0fue298y2r23r23r4', 'count': 1},
     {'value': '0fue298y2r23r23r3', 'count': 1},
     {'value': '0fue298y2r23r23r2', 'count': 1},
     {'value': '0f345kjh345oiuy349', 'count': 1},
     {'value': '0f345kjh345oiuy348', 'count': 1},
     {'value': '0f345kjh345oiuy347', 'count': 1},
     {'value': '0f345kjh345oiuy346', 'count': 1},
     {'value': '0f345kjh345oiuy345', 'count': 1}],
    'count_uniques': 11},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'transactoin_date': {'stats': {'mismatch': 0,
    'missing': 6,
    'match': 11,
    'frequency': [{'value': '2010/08/19', 'count': 7},
     {'value': '2015/08/09', 'count': 1},
     {'value': '2012/01/05', 'count': 1},
     {'value': '2011/08/11', 'count': 1},
     {'value': '2009/08/11', 'count': 1}],
    'count_uniques': 5},
   'dtype': 'object',
   'profiler_dtype': 'date'},
  'ticket_price': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 17,
    'frequency': [{'value': 9.99, 'count': 7},
     {'value': 29.99, 'count': 5},
     {'value': 14.99, 'count': 4},
     {'value': 9.91, 'count': 1}],
    'count_uniques': 4},
   'dtype': 'object',
   'profiler_dtype': 'decimal'},
  'discount': {'stats': {'mismatch': 0,
    'missing': 12,
    'match': 5,
    'frequency': [{'value': '5%', 'count': 5}],
    'count_uniques': 1},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'product': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 17,
    'frequency': [{'value': 'basic', 'count': 8},
     {'value': 'platinum', 'count': 5},
     {'value': 'deluxe', 'count': 4}],
    'count_uniques': 3},
   'dtype': 'object',
   'profiler_dtype': 'string'}},
 'name': None,
 'file_name': 'datasetFile-1589815911139.csv',
 'summary': {'cols_count': 5,
  'rows_count': 17,
  'size': '808 Bytes',
  'dtypes_list': ['object'],
  'total_count_dtypes': 1,
  'missing_count': 18,
  'p_missing': 105.88}}

In [71]:
df.cols.profiler_dtypes("*")

{'customer_id': 'string',
 'transactoin_date': 'date',
 'ticket_price': 'decimal',
 'discount': 'string',
 'product': 'string'}

In [72]:
_output = df.ext.profile(columns="*", infer=True, output="json")
df.ext.set_buffer("*")
df = df.cols.replace("discount", search=["%"], replace_by="", search_by="chars", ignore_case=True, output_cols="discount").ext.cache()

_output = df.ext.profile(columns="*",  output="json")
df.ext.display()

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 500000 elements requested, only 17 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))
C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 30 elements requested, only 17 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [73]:
df.cols.profiler_dtypes("*")

{'customer_id': 'string',
 'transactoin_date': 'date',
 'ticket_price': 'decimal',
 'discount': 'int',
 'product': 'string'}

In [13]:
pdf= df.compute()
for i in pdf["discount"]:
    print(type(i))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>

In [50]:

# df.ext.set_buffer("*")

# df = df.cols.set( value="0", where='df["discount"].isnull()', output_cols=["discount"] ).ext.cache()
# _output = df.ext.profile(columns="*", infer=True, output="json")

# df.ext.set_buffer("*")

df = df.cols.set(value='0', where='df["discount"].isnull()', output_cols="discount").ext.cache()
df.ext.profile(columns="*", infer=True)["columns"]["discount"]
# df.ext.set_buffer("*") # error 
# print(df.ext.buffer_window("*", 0, 17).ext.to_json("*")) # error

ASDASDF
AAA {'discount': 'int'}

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 30 elements requested, only 17 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

{'stats': {'mismatch': 0,
  'missing': 0,
  'match': 17,
  'frequency': [{'value': 0, 'count': 12}, {'value': 5, 'count': 5}],
  'count_uniques': 2},
 'dtype': 'object',
 'profiler_dtype': 'int'}

In [65]:
df.ext.set_buffer("*")

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 500000 elements requested, only 17 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [66]:
profile_preview = df.ext.buffer_window("*", 0, 17).cols.set(value='mask["discount"]*mask["ticket_price"]', where='df["discount"]!=None', output_cols="new column")

In [67]:
profile_preview

,customer_id,transactoin_date,ticket_price,discount,product,new column
0,0f345kjh345oiuy345,2010/08/19,29.99,0,platinum,
1,0fju234978rfjkhsdf,2012/01/05,29.99,0,platinum,
2,0f34ruiy23e78y2r,2009/08/11,29.99,0,platinum,
3,0fue298y2r23r23r2,2010/08/19,29.99,0,platinum,
4,0f345kjh345oiuy346,2010/08/19,29.99,0,platinum,
5,0fju234978rfjkhsdf,2010/08/19,9.99,5,basic,9.999.999.999.999.99
6,0f34ruiy23e78y2r,2010/08/19,9.99,0,basic,
7,0fue298y2r23r23r3,2010/08/19,9.99,0,basic,
8,0f345kjh345oiuy347,2010/08/19,9.99,0,basic,
9,0fju234978rfjkhsdf,2011/08/11,9.99,5,basic,9.999.999.999.999.99
10,0f34ruiy23e78y2r,2015/08/09,9.99,5,basic,9.999.999.999.999.99
11,0fue298y2r23r23r4,None,9.91,0,basic,
12,0f345kjh345oiuy348,None,9.99,0,basic,
13,0fju234978rfjkhsdf,None,14.99,5,deluxe,14.9914.9914.9914.9914.99
14,0f34ruiy23e78y2r,None,14.99,0,deluxe,
15,0fue298y2r23r23r5,None,14.99,5,deluxe,14.9914.9914.9914.9914.99
16,0f345kjh345oiuy349,None,14.99,0,deluxe,

In [64]:
profile_preview.ext.profile("*")["columns"]["discount"]

{'stats': {'match': 17,
  'missing': 0,
  'mismatch': 0,
  'frequency': [{'value': 0, 'count': 12}, {'value': 5, 'count': 5}],
  'count_uniques': 2},
 'dtype': 'object'}

In [58]:
df.cols.profiler_dtypes("new_discount")

ValueError: 'missing_columns' must be 'customer_id', 'transactoin_date', 'ticket_price', 'discount', 'product', received 'new_discount'.

           customer_id transactoin_date ticket_price discount   product
0   0f345kjh345oiuy345       2010/08/19        29.99        0  platinum
1   0fju234978rfjkhsdf       2012/01/05        29.99        0  platinum
2     0f34ruiy23e78y2r       2009/08/11        29.99        0  platinum
3    0fue298y2r23r23r2       2010/08/19        29.99        0  platinum
4   0f345kjh345oiuy346       2010/08/19        29.99        0  platinum
5   0fju234978rfjkhsdf       2010/08/19         9.99        5     basic
6     0f34ruiy23e78y2r       2010/08/19         9.99        0     basic
7    0fue298y2r23r23r3       2010/08/19         9.99        0     basic
8   0f345kjh345oiuy347       2010/08/19         9.99        0     basic
9   0fju234978rfjkhsdf       2011/08/11         9.99        5     basic
10    0f34ruiy23e78y2r       2015/08/09         9.99        5     basic
11   0fue298y2r23r23r4             None         9.91        0     basic
12  0f345kjh345oiuy348             None         9.99        0     basic
13  0fju234978rfjkhsdf             None        14.99        5    deluxe
14    0f34ruiy23e78y2r             None        14.99        0    deluxe
15   0fue298y2r23r23r5             None        14.99        5    deluxe
16  0f345kjh345oiuy349             None        14.99        0    deluxe

In [29]:
df.cols.profiler_dtypes("*")

{'customer_id': 'string',
 'transactoin_date': 'date',
 'ticket_price': 'decimal',
 'discount': 'int',
 'product': 'string'}

In [33]:
# df.cols.count_mismatch({"discount":"int"}, infer=True)

In [34]:
df.ext.profile(columns="*", infer=True)["columns"]["discount"]

{'stats': {'mismatch': 0,
  'missing': 12,
  'match': 5,
  'frequency': [{'value': '5', 'count': 5}],
  'count_uniques': 1},
 'dtype': 'object',
 'profiler_dtype': 'int'}

In [91]:
df = op.load.csv("http://159.65.217.17:5003/uploads/datasetFile-1589815911139.csv", sep=",", error_bad_lines=False, header=True, null_value="null", infer_schema="true", encoding="UTF-8", quoting=0, lineterminator=None, cache=True).ext.cache()
df = df.ext.optimize()
_output = df.ext.profile(columns="*", infer=True, output="json")




df = df.cols.profiler_dtype("ticket_price", "decimal").ext.cache()
_output = df.ext.set_buffer("*")

df.ext.get_buffer()
_output = df.ext.profile(columns="*", infer=True, output="json")
_output = df.ext.set_buffer("*")
df.ext.table()

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 30 elements requested, only 17 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

TypeError: 'NoneType' object does not support item assignment

In [22]:
df.ext.get_buffer()

           customer_id transactoin_date ticket_price discount   product
0   0f345kjh345oiuy345       2010/08/19        29.99      NaN  platinum
1   0fju234978rfjkhsdf       2012/01/05        29.99      NaN  platinum
2     0f34ruiy23e78y2r       2009/08/11        29.99      NaN  platinum
3    0fue298y2r23r23r2       2010/08/19        29.99      NaN  platinum
4   0f345kjh345oiuy346       2010/08/19        29.99      NaN  platinum
5   0fju234978rfjkhsdf       2010/08/19         9.99       5%     basic
6     0f34ruiy23e78y2r       2010/08/19         9.99      NaN     basic
7    0fue298y2r23r23r3       2010/08/19         9.99      NaN     basic
8   0f345kjh345oiuy347       2010/08/19         9.99      NaN     basic
9   0fju234978rfjkhsdf       2011/08/11         9.99       5%     basic
10    0f34ruiy23e78y2r       2015/08/09         9.99       5%     basic
11   0fue298y2r23r23r4              NaN         9.91      NaN     basic
12  0f345kjh345oiuy348              NaN         9.99      NaN     basic
13  0fju234978rfjkhsdf              NaN        14.99       5%    deluxe
14    0f34ruiy23e78y2r              NaN        14.99      NaN    deluxe
15   0fue298y2r23r23r5              NaN        14.99       5%    deluxe
16  0f345kjh345oiuy349              NaN        14.99      NaN    deluxe

In [23]:
df.cols.dtypes()

{'customer_id': 'category',
 'transactoin_date': 'category',
 'ticket_price': 'object',
 'discount': 'category',
 'product': 'category'}

In [24]:
pdf = df.compute()
for i in pdf["ticket_price"]:
    print(type(i))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [25]:
# df.ext.profile("*", infer=True)

In [26]:
df.cols.profiler_dtypes("*")

{'customer_id': 'string',
 'transactoin_date': 'date',
 'ticket_price': 'decimal',
 'discount': 'string',
 'product': 'string'}

In [27]:
df = df.cols.profiler_dtype("ticket_price","int")

In [28]:
df.ext.display()

In [29]:
_output = df.ext.buffer_window("*", 0, 17).cols.set(value='mask["ticket_price"]+mask["ticket_price"]', where='df["ticket_price"]!=None', output_cols="new ticket_price").ext.to_json("*")

In [31]:
df = df.cols.set(value='mask["ticket_price"]*mask["ticket_price"]', where='df["ticket_price"]!=None', output_cols="ticket_price").ext.cache()
df.compute()

           customer_id transactoin_date ticket_price discount   product
0   0f345kjh345oiuy345       2010/08/19         3364      NaN  platinum
1   0fju234978rfjkhsdf       2012/01/05         3364      NaN  platinum
2     0f34ruiy23e78y2r       2009/08/11         3364      NaN  platinum
3    0fue298y2r23r23r2       2010/08/19         3364      NaN  platinum
4   0f345kjh345oiuy346       2010/08/19         3364      NaN  platinum
5   0fju234978rfjkhsdf       2010/08/19          324       5%     basic
6     0f34ruiy23e78y2r       2010/08/19          324      NaN     basic
7    0fue298y2r23r23r3       2010/08/19          324      NaN     basic
8   0f345kjh345oiuy347       2010/08/19          324      NaN     basic
9   0fju234978rfjkhsdf       2011/08/11          324       5%     basic
10    0f34ruiy23e78y2r       2015/08/09          324       5%     basic
11   0fue298y2r23r23r4              NaN          324      NaN     basic
12  0f345kjh345oiuy348              NaN          324      NaN     basic
13  0fju234978rfjkhsdf              NaN          784       5%    deluxe
14    0f34ruiy23e78y2r              NaN          784      NaN    deluxe
15   0fue298y2r23r23r5              NaN          784       5%    deluxe
16  0f345kjh345oiuy349              NaN          784      NaN    deluxe

In [6]:
df = op.load.file("data/Meteorite_Landings.csv").ext.cache()
# df1 = op.load.file("http://159.65.217.17:5003/uploads/datasetFile-1589317752438.csv").ext.cache()
# df.ext.profile("*", output="json")

# df = df.ext.optimize()
df1 = df.ext.optimize()
df1.ext.profile("*", output="json", infer=True)
# df.ext.set_buffer("*")
df1.ext.set_buffer("*")

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 500000 elements requested, only 45716 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [14]:
import fastnumbers
fastnumbers.isfloat(1)

False

In [7]:
op.client

In [15]:
df.ext.display()

In [19]:
# Try https://stackoverflow.com/questions/42742810/speed-up-millions-of-regex-replacements-in-python-3/42789508#42789508
df["nametype"].str.match("^(\d{5})([- ])?(\d{4})?$").compute()

0        False
1        False
2        False
3        False
4        False
         ...
45711    False
45712    False
45713    False
45714    False
45715    False
Name: nametype, Length: 45716, dtype: bool

In [8]:
df1.cols.profiler_dtypes("*")

{'name': 'string',
 'id': 'int',
 'nametype': 'string',
 'recclass': 'string',
 'mass (g)': 'int',
 'fall': 'string',
 'year': 'date',
 'reclat': 'decimal',
 'reclong': 'decimal',
 'GeoLocation': 'array'}

In [9]:
df1.dtypes

name             object
id               uint16
nametype       category
recclass         object
mass (g)         object
fall           category
year             object
reclat           object
reclong          object
GeoLocation      object
dtype: object

In [10]:
type(df1)

dask.dataframe.core.DataFrame

In [11]:
df.cols.count_mismatch({"name":"int"})

{'name': {'mismatch': 45716,
  'missing': 0,
  'match': 0,
  'profiler_dtype': 'int'}}

In [12]:
df1 = df1.cols.profiler_dtype("name","string")
# df1.cols.replace("name","1","2")
# df1 =df1.cols.unnest("GeoLocation",",")

# df1.ext.profile("*",infer=True)

In [13]:
df1.ext.profile("*")

ACTION NAME profiler_dtype
modified_columns ['name']
new_columns []

{'columns': {'name': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 45716,
    'frequency': [{'value': 'wicany', 'count': 1},
     {'value': 'Hammadah al Hamra 007', 'count': 1},
     {'value': 'Hammadah al Hamra 029', 'count': 1},
     {'value': 'Hammadah al Hamra 028', 'count': 1},
     {'value': 'Hammadah al Hamra 027', 'count': 1},
     {'value': 'Hammadah al Hamra 026', 'count': 1},
     {'value': 'Hammadah al Hamra 025', 'count': 1},
     {'value': 'Hammadah al Hamra 024', 'count': 1},
     {'value': 'Hammadah al Hamra 023', 'count': 1},
     {'value': 'Hammadah al Hamra 022', 'count': 1},
     {'value': 'Hammadah al Hamra 021', 'count': 1},
     {'value': 'Hammadah al Hamra 020', 'count': 1},
     {'value': 'Hammadah al Hamra 019', 'count': 1},
     {'value': 'Hammadah al Hamra 018', 'count': 1},
     {'value': 'Hammadah al Hamra 017', 'count': 1},
     {'value': 'Hammadah al Hamra 014', 'count': 1},
     {'value': 'Hammadah al Hamra 013', 'count': 1},
     {'value': 'Hammadah al Hamra 012', 'count': 1},
     {'value': 'Hammadah al Hamra 011', 'count': 1},
     {'value': 'Hammadah al Hamra 010', 'count': 1},
     {'value': 'Hammadah al Hamra 009', 'count': 1},
     {'value': 'Hammadah al Hamra 030', 'count': 1},
     {'value': 'Hammadah al Hamra 031', 'count': 1},
     {'value': 'Hammadah al Hamra 032', 'count': 1},
     {'value': 'Hammadah al Hamra 043', 'count': 1},
     {'value': 'Hammadah al Hamra 051', 'count': 1},
     {'value': 'Hammadah al Hamra 050', 'count': 1},
     {'value': 'Hammadah al Hamra 049', 'count': 1},
     {'value': 'Hammadah al Hamra 048', 'count': 1},
     {'value': 'Hammadah al Hamra 047', 'count': 1},
     {'value': 'Hammadah al Hamra 046', 'count': 1},
     {'value': 'Hammadah al Hamra 045', 'count': 1},
     {'value': 'Hammadah al Hamra 044', 'count': 1}],
    'count_uniques': 45716},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'id': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 45716,
    'hist': [{'lower': 1.0, 'upper': 1796.53125, 'count': 1712},
     {'lower': 1796.53125, 'upper': 3592.0625, 'count': 1030},
     {'lower': 3592.0625, 'upper': 5387.59375, 'count': 1498},
     {'lower': 5387.59375, 'upper': 7183.125, 'count': 1765},
     {'lower': 7183.125, 'upper': 8978.65625, 'count': 1787},
     {'lower': 8978.65625, 'upper': 10774.1875, 'count': 1770},
     {'lower': 10774.1875, 'upper': 12569.71875, 'count': 1748},
     {'lower': 12569.71875, 'upper': 14365.25, 'count': 1791},
     {'lower': 14365.25, 'upper': 16160.78125, 'count': 1774},
     {'lower': 16160.78125, 'upper': 17956.3125, 'count': 1771},
     {'lower': 17956.3125, 'upper': 19751.84375, 'count': 1768},
     {'lower': 19751.84375, 'upper': 21547.375, 'count': 1796},
     {'lower': 21547.375, 'upper': 23342.90625, 'count': 1784},
     {'lower': 23342.90625, 'upper': 25138.4375, 'count': 1733},
     {'lower': 25138.4375, 'upper': 26933.96875, 'count': 1597},
     {'lower': 26933.96875, 'upper': 28729.5, 'count': 1250},
     {'lower': 28729.5, 'upper': 30525.03125, 'count': 1654},
     {'lower': 30525.03125, 'upper': 32320.5625, 'count': 872},
     {'lower': 32320.5625, 'upper': 34116.09375, 'count': 1016},
     {'lower': 34116.09375, 'upper': 35911.625, 'count': 1401},
     {'lower': 35911.625, 'upper': 37707.15625, 'count': 1166},
     {'lower': 37707.15625, 'upper': 39502.6875, 'count': 819},
     {'lower': 39502.6875, 'upper': 41298.21875, 'count': 848},
     {'lower': 41298.21875, 'upper': 43093.75, 'count': 0},
     {'lower': 43093.75, 'upper': 44889.28125, 'count': 544},
     {'lower': 44889.28125, 'upper': 46684.8125, 'count': 1660},
     {'lower': 46684.8125, 'upper': 48480.34375, 'count': 1618},
     {'lower': 48480.34375, 'upper': 50275.875, 'count': 1487},
     {'lower': 50275.875, 'upper': 52071.40625, 'count': 1555},
     {'lower': 52071.40625, 'upper': 53866.9375, 'count': 1293},
     {'lower': 53866.9375, 'upper': 55662.46875, 'count': 1618},
     {'lower': 55662.46875, 'upper': 57458.0, 'count': 1591}],
    'count_uniques': 45716},
   'dtype': 'uint16',
   'profiler_dtype': 'int'},
  'nametype': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 45716,
    'frequency': [{'value': 'Valid', 'count': 45641},
     {'value': 'Relict', 'count': 75}],
    'count_uniques': 2},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'recclass': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 45716,
    'frequency': [{'value': 'L6', 'count': 8285},
     {'value': 'H5', 'count': 7142},
     {'value': 'L5', 'count': 4796},
     {'value': 'H6', 'count': 4528},
     {'value': 'H4', 'count': 4211},
     {'value': 'LL5', 'count': 2766},
     {'value': 'LL6', 'count': 2043},
     {'value': 'L4', 'count': 1253},
     {'value': 'H4/5', 'count': 428},
     {'value': 'CM2', 'count': 416},
     {'value': 'H3', 'count': 386},
     {'value': 'L3', 'count': 365},
     {'value': 'CO3', 'count': 335},
     {'value': 'Ureilite', 'count': 300},
     {'value': 'Iron, IIIAB', 'count': 285},
     {'value': 'LL4', 'count': 268},
     {'value': 'CV3', 'count': 256},
     {'value': 'Diogenite', 'count': 241},
     {'value': 'Howardite', 'count': 240},
     {'value': 'LL', 'count': 225},
     {'value': 'Eucrite', 'count': 221},
     {'value': 'Eucrite-pmict', 'count': 207},
     {'value': 'E3', 'count': 206},
     {'value': 'H5/6', 'count': 193},
     {'value': 'Mesosiderite', 'count': 137},
     {'value': 'CR2', 'count': 135},
     {'value': 'LL3', 'count': 128},
     {'value': 'EH3', 'count': 120},
     {'value': 'Iron, IIAB', 'count': 118},
     {'value': 'Iron, ungrouped', 'count': 113},
     {'value': 'H~5', 'count': 111},
     {'value': 'L5/6', 'count': 109},
     {'value': 'Eucrite-mmict', 'count': 108}],
    'count_uniques': 466},
   'dtype': 'object',
   'profiler_dtype': 'string'},
  'mass (g)': {'stats': {'mismatch': 32526,
    'missing': 131,
    'match': 13059,
    'frequency': [{'value': '1.3', 'count': 171},
     {'value': '1.2', 'count': 140},
     {'value': '1.4', 'count': 138},
     {'value': '2.1', 'count': 130},
     {'value': '2.4', 'count': 126},
     {'value': '1.6', 'count': 120},
     {'value': '0.5', 'count': 119},
     {'value': '1.1', 'count': 116},
     {'value': '3.8', 'count': 114},
     {'value': '0.7', 'count': 111},
     {'value': '1.5', 'count': 111},
     {'value': '3.1', 'count': 109},
     {'value': '3.2', 'count': 109},
     {'value': '1.7', 'count': 109},
     {'value': '3', 'count': 108},
     {'value': '0.6', 'count': 108},
     {'value': '0.9', 'count': 108},
     {'value': '0.8', 'count': 107},
     {'value': '1.8', 'count': 104},
     {'value': '2.5', 'count': 103},
     {'value': '2.7', 'count': 102},
     {'value': '3.6', 'count': 96},
     {'value': '1', 'count': 96},
     {'value': '2', 'count': 96},
     {'value': '4.2', 'count': 95},
     {'value': '2.9', 'count': 93},
     {'value': '2.8', 'count': 93},
     {'value': '2.2', 'count': 92},
     {'value': '2.6', 'count': 91},
     {'value': '3.3', 'count': 88},
     {'value': '4.1', 'count': 86},
     {'value': '1.9', 'count': 86},
     {'value': '4.6', 'count': 86}],
    'count_uniques': 12576},
   'dtype': 'object',
   'profiler_dtype': 'int'},
  'fall': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 45716,
    'frequency': [{'value': 'Found', 'count': 44609},
     {'value': 'Fell', 'count': 1107}],
    'count_uniques': 2},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'year': {'stats': {'mismatch': 0,
    'missing': 288,
    'match': 45428,
    'frequency': [{'value': '01/01/2003 12:00:00 AM', 'count': 3323},
     {'value': '01/01/1979 12:00:00 AM', 'count': 3046},
     {'value': '01/01/1998 12:00:00 AM', 'count': 2697},
     {'value': '01/01/2006 12:00:00 AM', 'count': 2456},
     {'value': '01/01/1988 12:00:00 AM', 'count': 2296},
     {'value': '01/01/2002 12:00:00 AM', 'count': 2078},
     {'value': '01/01/2004 12:00:00 AM', 'count': 1940},
     {'value': '01/01/2000 12:00:00 AM', 'count': 1792},
     {'value': '01/01/1997 12:00:00 AM', 'count': 1696},
     {'value': '01/01/1999 12:00:00 AM', 'count': 1691},
     {'value': '01/01/2001 12:00:00 AM', 'count': 1650},
     {'value': '01/01/1990 12:00:00 AM', 'count': 1518},
     {'value': '01/01/2009 12:00:00 AM', 'count': 1497},
     {'value': '01/01/1986 12:00:00 AM', 'count': 1375},
     {'value': '01/01/2007 12:00:00 AM', 'count': 1189},
     {'value': '01/01/2010 12:00:00 AM', 'count': 1005},
     {'value': '01/01/1993 12:00:00 AM', 'count': 979},
     {'value': '01/01/2008 12:00:00 AM', 'count': 957},
     {'value': '01/01/1987 12:00:00 AM', 'count': 916},
     {'value': '01/01/1991 12:00:00 AM', 'count': 877},
     {'value': '01/01/2005 12:00:00 AM', 'count': 875},
     {'value': '01/01/1994 12:00:00 AM', 'count': 719},
     {'value': '01/01/2011 12:00:00 AM', 'count': 713},
     {'value': '01/01/1974 12:00:00 AM', 'count': 691},
     {'value': '01/01/1996 12:00:00 AM', 'count': 583},
     {'value': '01/01/1995 12:00:00 AM', 'count': 487},
     {'value': '01/01/1981 12:00:00 AM', 'count': 463},
     {'value': '01/01/1977 12:00:00 AM', 'count': 421},
     {'value': '01/01/1984 12:00:00 AM', 'count': 402},
     {'value': '01/01/1985 12:00:00 AM', 'count': 378},
     {'value': '01/01/1992 12:00:00 AM', 'count': 372},
     {'value': '01/01/1983 12:00:00 AM', 'count': 360},
     {'value': '01/01/1982 12:00:00 AM', 'count': 344}],
    'count_uniques': 269},
   'dtype': 'object',
   'profiler_dtype': 'date'},
  'reclat': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 45716,
    'frequency': [{'value': '0.000000', 'count': 6438},
     {'value': '-71.500000', 'count': 4761},
     {'value': '-84.000000', 'count': 3040},
     {'value': '-72.000000', 'count': 1506},
     {'value': '-79.683330', 'count': 1130},
     {'value': '-76.716670', 'count': 680},
     {'value': '-76.183330', 'count': 539},
     {'value': '-84.216670', 'count': 263},
     {'value': '-86.366670', 'count': 226},
     {'value': '-86.716670', 'count': 217},
     {'value': '-85.666670', 'count': 185},
     {'value': '-24.850000', 'count': 178},
     {'value': '-85.633330', 'count': 108},
     {'value': '-72.954880', 'count': 74},
     {'value': '-72.778890', 'count': 69},
     {'value': '-72.983890', 'count': 67},
     {'value': '58.583330', 'count': 64},
     {'value': '-72.775000', 'count': 57},
     {'value': '-72.778330', 'count': 52},
     {'value': '-72.998890', 'count': 41},
     {'value': '-72.779170', 'count': 40},
     {'value': '34.083330', 'count': 40},
     {'value': '-72.782500', 'count': 39},
     {'value': '-72.983889', 'count': 37},
     {'value': '-72.778610', 'count': 35},
     {'value': '29.916670', 'count': 35},
     {'value': '-83.250000', 'count': 35},
     {'value': '-25.233330', 'count': 32},
     {'value': '-82.500000', 'count': 32},
     {'value': '-72.773610', 'count': 31},
     {'value': '-72.989720', 'count': 31},
     {'value': '-72.774720', 'count': 31},
     {'value': '-72.773330', 'count': 30}],
    'count_uniques': 12738},
   'dtype': 'object',
   'profiler_dtype': 'decimal'},
  'reclong': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 45716,
    'frequency': [{'value': '0.000000', 'count': 6214},
     {'value': '35.666670', 'count': 4985},
     {'value': '168.000000', 'count': 3040},
     {'value': '26.000000', 'count': 1506},
     {'value': '159.750000', 'count': 657},
     {'value': '159.666670', 'count': 637},
     {'value': '157.166670', 'count': 542},
     {'value': '155.750000', 'count': 473},
     {'value': '160.500000', 'count': 263},
     {'value': '-70.000000', 'count': 228},
     {'value': '-141.500000', 'count': 217},
     {'value': '175.000000', 'count': 185},
     {'value': '-70.533330', 'count': 178},
     {'value': '-68.700000', 'count': 105},
     {'value': '160.473280', 'count': 74},
     {'value': '13.433330', 'count': 64},
     {'value': '159.333330', 'count': 44},
     {'value': '75.246390', 'count': 42},
     {'value': '75.313610', 'count': 42},
     {'value': '-103.500000', 'count': 35},
     {'value': '157.000000', 'count': 34},
     {'value': '75.187220', 'count': 33},
     {'value': '-5.583330', 'count': 33},
     {'value': '155.500000', 'count': 32},
     {'value': '75.200000', 'count': 32},
     {'value': '-69.716670', 'count': 32},
     {'value': '75.340000', 'count': 31},
     {'value': '75.246389', 'count': 30},
     {'value': '161.500000', 'count': 30},
     {'value': '161.083330', 'count': 29},
     {'value': '156.383330', 'count': 27},
     {'value': '-9.500000', 'count': 24},
     {'value': '-69.766670', 'count': 24}],
    'count_uniques': 14640},
   'dtype': 'object',
   'profiler_dtype': 'decimal'},
  'GeoLocation': {'stats': {'mismatch': 0,
    'missing': 7315,
    'match': 38401,
    'frequency': [{'value': '(0.000000, 0.000000)', 'count': 6214},
     {'value': '(-71.500000, 35.666670)', 'count': 4761},
     {'value': '(-84.000000, 168.000000)', 'count': 3040},
     {'value': '(-72.000000, 26.000000)', 'count': 1505},
     {'value': '(-79.683330, 159.750000)', 'count': 657},
     {'value': '(-76.716670, 159.666670)', 'count': 637},
     {'value': '(-76.183330, 157.166670)', 'count': 539},
     {'value': '(-79.683330, 155.750000)', 'count': 473},
     {'value': '(-84.216670, 160.500000)', 'count': 263},
     {'value': '(-86.366670, -70.000000)', 'count': 226},
     {'value': '(0.000000, 35.666670)', 'count': 223},
     {'value': '(-86.716670, -141.500000)', 'count': 217},
     {'value': '(-85.666670, 175.000000)', 'count': 185},
     {'value': '(-24.850000, -70.533330)', 'count': 178},
     {'value': '(-85.633330, -68.700000)', 'count': 105},
     {'value': '(-72.954880, 160.473280)', 'count': 74},
     {'value': '(58.583330, 13.433330)', 'count': 64},
     {'value': '(-76.716670, 159.333330)', 'count': 42},
     {'value': '(-72.778890, 75.313610)', 'count': 39},
     {'value': '(-72.983890, 75.246390)', 'count': 38},
     {'value': '(-83.250000, 157.000000)', 'count': 34},
     {'value': '(29.916670, -5.583330)', 'count': 33},
     {'value': '(-82.500000, 155.500000)', 'count': 32},
     {'value': '(-72.998890, 75.187220)', 'count': 32},
     {'value': '(-25.233330, -69.716670)', 'count': 32},
     {'value': '(-84.266670, 161.500000)', 'count': 30},
     {'value': '(-84.283330, 161.083330)', 'count': 29},
     {'value': '(-73.083330, 75.200000)', 'count': 28},
     {'value': '(-72.983889, 75.246389)', 'count': 27},
     {'value': '(34.083330, -103.500000)', 'count': 27},
     {'value': '(-80.066670, 156.383330)', 'count': 27},
     {'value': '(-24.683330, -69.766670)', 'count': 24},
     {'value': '(27.166670, -9.500000)', 'count': 24}],
    'count_uniques': 17100},
   'dtype': 'object',
   'profiler_dtype': 'array'}},
 'name': None,
 'file_name': 'Meteorite_Landings.csv',
 'summary': {'cols_count': 10,
  'rows_count': 45716,
  'size': '2.7 MB',
  'dtypes_list': ['object', 'category', 'uint16'],
  'total_count_dtypes': 3,
  'missing_count': 0,
  'p_missing': 0.0}}

In [87]:
df.meta.get()["profile"]["columns"]["id"]["profiler_dtype"]
# print(df.meta.get()["transformations"]["actions"])
# print(df.meta.get()["transformations"]["columns"])

'int'

In [ ]:
df1.meta.get()

In [14]:
df.cols.set("name", df.name!= None, df.name+"a").compute()

ValueError: The truth value of a Series is ambiguous. Use a.any() or a.all().

In [26]:
df.ext.set_buffer("*")

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 500000 elements requested, only 45716 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [93]:
import re
_value = "50"
regex = re.compile('|'.join("5"))
[[match.start(), match.end()] for match in regex.finditer(_value)]
    
# length = [[match.start(), match.end()] for match in
#           regex.finditer(re.escape(_value), re.IGNORECASE)]

[[0, 1]]

In [42]:
df.cols.unnest("GeoLocation",",").compute()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,GeoLocation_0,GeoLocation_1
0,Aachen,1,Valid,L5,21,Fell,01/01/1880 12:00:00 AM,50.775000,6.083330,"(50.775000, 6.083330)",(50.775000,6.083330)
1,Aarhus,2,Valid,H6,720,Fell,01/01/1951 12:00:00 AM,56.183330,10.233330,"(56.183330, 10.233330)",(56.183330,10.233330)
2,Abee,6,Valid,EH4,107000,Fell,01/01/1952 12:00:00 AM,54.216670,-113.000000,"(54.216670, -113.000000)",(54.216670,-113.000000)
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,01/01/1976 12:00:00 AM,16.883330,-99.900000,"(16.883330, -99.900000)",(16.883330,-99.900000)
4,Achiras,370,Valid,L6,780,Fell,01/01/1902 12:00:00 AM,-33.166670,-64.950000,"(-33.166670, -64.950000)",(-33.166670,-64.950000)
...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172,Found,01/01/1990 12:00:00 AM,29.037000,17.018500,"(29.037000, 17.018500)",(29.037000,17.018500)
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46,Found,01/01/1999 12:00:00 AM,13.783330,8.966670,"(13.783330, 8.966670)",(13.783330,8.966670)
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.250000,17.666670,"(49.250000, 17.666670)",(49.250000,17.666670)
45714,Zubkovsky,31357,Valid,L6,2167,Found,01/01/2003 12:00:00 AM,49.789170,41.504600,"(49.789170, 41.504600)",(49.789170,41.504600)
45715,Zulu Queen,30414,Valid,L3.7,200,Found,01/01/1976 12:00:00 AM,33.983330,-115.683330,"(33.983330, -115.683330)",(33.983330,-115.683330)

In [43]:
df.ext.display()

In [45]:
length

[[2, 3]]

In [100]:
df.ext.buffer_window("*", 0, 34).cols.replace("GeoLocation", search=["5"], replace_by="", search_by="chars", ignore_case=True, output_cols="new GeoLocation").cols.find("GeoLocation", sub=["5"], ignore_case=True)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,new GeoLocation,GeoLocation__match_positions__
0,Aachen,1,Valid,L5,21,Fell,01/01/1880 12:00:00 AM,50.775000,6.083330,"(50.775000, 6.083330)","(0.77000, 6.083330)","[[1, 2], [6, 7]]"
1,Aarhus,2,Valid,H6,720,Fell,01/01/1951 12:00:00 AM,56.183330,10.233330,"(56.183330, 10.233330)","(6.183330, 10.233330)","[[1, 2]]"
2,Abee,6,Valid,EH4,107000,Fell,01/01/1952 12:00:00 AM,54.216670,-113.000000,"(54.216670, -113.000000)","(4.216670, -113.000000)","[[1, 2]]"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,01/01/1976 12:00:00 AM,16.883330,-99.900000,"(16.883330, -99.900000)","(16.883330, -99.900000)",None
4,Achiras,370,Valid,L6,780,Fell,01/01/1902 12:00:00 AM,-33.166670,-64.950000,"(-33.166670, -64.950000)","(-33.166670, -64.90000)","[[18, 19]]"
5,Adhi Kot,379,Valid,EH4,4239,Fell,01/01/1919 12:00:00 AM,32.100000,71.800000,"(32.100000, 71.800000)","(32.100000, 71.800000)",None
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910,Fell,01/01/1949 12:00:00 AM,44.833330,95.166670,"(44.833330, 95.166670)","(44.833330, 9.166670)","[[13, 14]]"
7,Agen,392,Valid,H5,30000,Fell,01/01/1814 12:00:00 AM,44.216670,0.616670,"(44.216670, 0.616670)","(44.216670, 0.616670)",None
8,Aguada,398,Valid,L6,1620,Fell,01/01/1930 12:00:00 AM,-31.600000,-65.233330,"(-31.600000, -65.233330)","(-31.600000, -6.233330)","[[15, 16]]"
9,Aguila Blanca,417,Valid,L,1440,Fell,01/01/1920 12:00:00 AM,-30.866670,-64.550000,"(-30.866670, -64.550000)","(-30.866670, -64.0000)","[[17, 18], [18, 19]]"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000,Fell,01/01/1974 12:00:00 AM,16.398060,-9.570280,"(16.398060, -9.570280)","(16.398060, -9.70280)","[[15, 16]]"
11,Ar,424,Valid,L6,24000,Fell,01/01/1925 12:00:00 AM,19.083330,8.383330,"(19.083330, 8.383330)","(19.083330, 8.383330)",None
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,01/01/1769 12:00:00 AM,50.666670,2.333330,"(50.666670, 2.333330)","(0.666670, 2.333330)","[[1, 2]]"
13,Akaba,426,Valid,L6,779,Fell,01/01/1949 12:00:00 AM,29.516670,35.050000,"(29.516670, 35.050000)","(29.16670, 3.00000)","[[4, 5], [13, 14], [16, 17]]"
14,Akbarpur,427,Valid,H4,1800,Fell,01/01/1838 12:00:00 AM,29.716670,77.950000,"(29.716670, 77.950000)","(29.716670, 77.90000)","[[16, 17]]"
15,Akwanga,432,Valid,H,3000,Fell,01/01/1959 12:00:00 AM,8.916670,8.433330,"(8.916670, 8.433330)","(8.916670, 8.433330)",None
16,Akyumak,433,Valid,"Iron, IVA",50000,Fell,01/01/1981 12:00:00 AM,39.916670,42.816670,"(39.916670, 42.816670)","(39.916670, 42.816670)",None
17,Al Rais,446,Valid,CR2-an,160,Fell,01/01/1957 12:00:00 AM,24.416670,39.516670,"(24.416670, 39.516670)","(24.416670, 39.16670)","[[15, 16]]"
18,Al Zarnkh,447,Valid,LL5,700,Fell,01/01/2001 12:00:00 AM,13.660330,28.960000,"(13.660330, 28.960000)","(13.660330, 28.960000)",None
19,Alais,448,Valid,CI1,6000,Fell,01/01/1806 12:00:00 AM,44.116670,4.083330,"(44.116670, 4.083330)","(44.116670, 4.083330)",None
20,Albareto,453,Valid,L/LL4,2000,Fell,01/01/1766 12:00:00 AM,44.650000,11.016670,"(44.650000, 11.016670)","(44.60000, 11.016670)","[[5, 6]]"
21,Alberta,454,Valid,L,625,Fell,01/01/1949 12:00:00 AM,2.000000,22.666670,"(2.000000, 22.666670)","(2.000000, 22.666670)",None
22,Alby sur Chran,458,Valid,Eucrite-mmict,252,Fell,01/01/2002 12:00:00 AM,45.821330,6.015330,"(45.821330, 6.015330)","(4.821330, 6.01330)","[[2, 3], [16, 17]]"
23,Aldsworth,461,Valid,LL5,700,Fell,01/01/1835 12:00:00 AM,51.783330,-1.783330,"(51.783330, -1.783330)","(1.783330, -1.783330)","[[1, 2]]"
24,Aleppo,462,Valid,L6,3200,Fell,01/01/1873 12:00:00 AM,36.233330,37.133330,"(36.233330, 37.133330)","(36.233330, 37.133330)",None
25,Alessandria,463,Valid,H5,908,Fell,01/01/1860 12:00:00 AM,44.883330,8.750000,"(44.883330, 8.750000)","(44.883330, 8.70000)","[[15, 16]]"
26,Alexandrovsky,465,Valid,H4,9251,Fell,01/01/1900 12:00:00 AM,50.950000,31.816670,"(50.950000, 31.816670)","(0.90000, 31.816670)","[[1, 2], [5, 6]]"
27,Alfianello,466,Valid,L6,228000,Fell,01/01/1883 12:00:00 AM,45.266670,10.150000,"(45.266670, 10.150000)","(4.266670, 10.10000)","[[2, 3], [16, 17]]"
28,Allegan,2276,Valid,H5,32000,Fell,01/01/1899 12:00:00 AM,42.533330,-85.883330,"(42.533330, -85.883330)","(42.33330, -8.883330)","[[4, 5], [14, 15]]"
29,Allende,2278,Valid,CV3,2000000,Fell,01/01/1969 12:00:00 AM,26.966670,-105.316670,"(26.966670, -105.316670)","(26.966670, -10.316670)","[[15, 16]]"
30,Almahata Sitta,48915,Valid,Ureilite-an,3950,Fell,01/01/2008 12:00:00 AM,20.745750,32.412750,"(20.745750, 32.412750)","(20.7470, 32.41270)","[[6, 7], [8, 9], [19, 20]]"
31,Alta'ameem,2284,Valid,LL5,6000,Fell,01/01/1977 12:00:00 AM,35.273330,44.215560,"(35.273330, 44.215560)","(3.273330, 44.2160)","[[2, 3], [17, 18], [18, 19]]"
32,Ambapur Nagla,2290,Valid,H5,6400,Fell,01/01/1895 12:00:00 AM,27.666670,78.250000,"(27.666670, 78.250000)","(27.666670, 78.20000)","[[16, 17]]"
33,Andhara,2294,Valid,Stone-uncl,2700,Fell,01/01/1880 12:00:00 AM,26.583330,85.566670,"(26.583330, 85.566670)","(26.83330, 8.66670)","[[4, 5], [13, 14], [15, 16]]"

In [18]:
df = df.cols.replace("id","a","b")

In [23]:
df.meta.get()

{'file_name': 'tmpd9yzm44r.csv',
 'mime_info': [{'mime': 'text/plain',
   'encoding': 'utf-8',
   'file_ext': 'csv',
   'file_type': 'csv',
   'properties': {'delimiter': ',',
    'doublequote': False,
    'escapechar': None,
    'lineterminator': '\r\n',
    'quotechar': '"',
    'quoting': 0,
    'skipinitialspace': False}}],
 'transformations': {'actions': {}},
 'profile': {'columns': {'id': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '9', 'count': 1},
      {'value': '8', 'count': 1},
      {'value': '7', 'count': 1},
      {'value': '6', 'count': 1},
      {'value': '5', 'count': 1},
      {'value': '4', 'count': 1},
      {'value': '3', 'count': 1},
      {'value': '2', 'count': 1},
      {'value': '19', 'count': 1},
      {'value': '18', 'count': 1},
      {'value': '17', 'count': 1},
      {'value': '16', 'count': 1},
      {'value': '15', 'count': 1},
      {'value': '14', 'count': 1},
      {'value': '13', 'count': 1},
      {'value': '12', 'count': 1},
      {'value': '11', 'count': 1},
      {'value': '10', 'count': 1},
      {'value': '1', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'string'},
   'firstName': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': 'William', 'count': 1},
      {'value': 'PAUL', 'count': 1},
      {'value': 'NiELS', 'count': 1},
      {'value': 'Max!!!', 'count': 1},
      {'value': 'Marie', 'count': 1},
      {'value': 'Luis', 'count': 1},
      {'value': 'Johannes', 'count': 1},
      {'value': 'JaMES', 'count': 1},
      {'value': 'JAMES', 'count': 1},
      {'value': 'Isaac', 'count': 1},
      {'value': 'Galileo', 'count': 1},
      {'value': 'Fred', 'count': 1},
      {'value': 'Emmy%%', 'count': 1},
      {'value': 'David', 'count': 1},
      {'value': 'CaRL', 'count': 1},
      {'value': 'Arthur', 'count': 1},
      {'value': 'Andr', 'count': 1},
      {'value': 'Albert', 'count': 1},
      {'value': '(((   Heinrich )))))', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'string'},
   'lastName': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': 'dirac$', 'count': 1},
      {'value': 'Planck!!!', 'count': 1},
      {'value': 'Nether$', 'count': 1},
      {'value': 'Newton', 'count': 1},
      {'value': 'M$$ax%%well', 'count': 1},
      {'value': 'KEPLER', 'count': 1},
      {'value': 'Hoy&&&le', 'count': 1},
      {'value': 'Hertz', 'count': 1},
      {'value': 'H$$$ilbert', 'count': 1},
      {'value': 'Gilbert###', 'count': 1},
      {'value': 'Ga%%%uss', 'count': 1},
      {'value': 'Einstein', 'count': 1},
      {'value': 'Chadwick', 'count': 1},
      {'value': 'CURIE', 'count': 1},
      {'value': 'COM%%%pton', 'count': 1},
      {'value': 'Bhr//((%%', 'count': 1},
      {'value': 'Ampre', 'count': 1},
      {'value': 'Alvarez$$%!', 'count': 1},
      {'value': '             GALiLEI', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'string'},
   'billingId': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '992', 'count': 1},
      {'value': '912', 'count': 1},
      {'value': '886', 'count': 1},
      {'value': '875', 'count': 1},
      {'value': '812', 'count': 1},
      {'value': '735', 'count': 1},
      {'value': '672', 'count': 1},
      {'value': '634', 'count': 1},
      {'value': '624', 'count': 1},
      {'value': '553', 'count': 1},
      {'value': '551', 'count': 1},
      {'value': '521', 'count': 1},
      {'value': '467', 'count': 1},
      {'value': '423', 'count': 1},
      {'value': '323', 'count': 1},
      {'value': '234', 'count': 1},
      {'value': '123', 'count': 1},
      {'value': '116', 'count': 1},
      {'value': '111', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'int'},
   'product': {'stats': {'mismatch': 0,
     'missing': 1,
     'match': 18,
     'frequency': [{'value': 'pizza', 'count': 4},
      {'value': 'taco', 'count': 3},
      {'value': 'pasta', 'count': 2},
      {'value': 'taaaccoo', 'count': 1},
      {'value': 'pizzza', 'count': 1},
      {'value': 'piza', 'count': 1},
      {'value': 'hamburguer', 'count': 1},
      {'value': 'arepa', 'count': 1},
      {'value': 'Rice', 'count': 1},
      {'value': 'Cake', 'count': 1},
      {'value': 'BEER', 'count': 1},
      {'value': '110790', 'count': 1}],
     'count_uniques': 12},
    'dtype': 'object',
    'profiler_dtype': 'string'},
   'price': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '8', 'count': 6},
      {'value': '3', 'count': 4},
      {'value': '9', 'count': 2},
      {'value': '5', 'count': 2},
      {'value': '10', 'count': 2},
      {'value': '4', 'count': 1},
      {'value': '2', 'count': 1},
      {'value': '1', 'count': 1}],
     'count_uniques': 8},
    'dtype': 'object',
    'profiler_dtype': 'int'},
   'birth': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '2000/03/22', 'count': 1},
      {'value': '1999/02/15', 'count': 1},
      {'value': '1997/06/27', 'count': 1},
      {'value': '1994/01/04', 'count': 1},
      {'value': '1993/12/08', 'count': 1},
      {'value': '1990/07/11', 'count': 1},
      {'value': '1990/07/09', 'count': 1},
      {'value': '1980/07/07', 'count': 1},
      {'value': '1970/07/13', 'count': 1},
      {'value': '1958/03/26', 'count': 1},
      {'value': '1956/11/30', 'count': 1},
      {'value': '1954/07/10', 'count': 1},
      {'value': '1950/07/14', 'count': 1},
      {'value': '1950/07/08', 'count': 1},
      {'value': '1930/08/12', 'count': 1},
      {'value': '1923/03/12', 'count': 1},
      {'value': '1921/05/03', 'count': 1},
      {'value': '1920/04/22', 'count': 1},
      {'value': '1899/01/01', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'date'},
   'dummyCol': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': 'you', 'count': 3},
      {'value': 'gonna', 'count': 3},
      {'value': 'never', 'count': 2},
      {'value': '#', 'count': 2},
      {'value': 'up', 'count': 1},
      {'value': 'run ', 'count': 1},
      {'value': 'never ', 'count': 1},
      {'value': 'let', 'count': 1},
      {'value': 'give', 'count': 1},
      {'value': 'down', 'count': 1},
      {'value': 'desert', 'count': 1},
      {'value': 'around', 'count': 1},
      {'value': 'and', 'count': 1}],
     'count_uniques': 13},
    'dtype': 'object',
    'profiler_dtype': 'string'}},
  'name': None,
  'file_name': 'tmpd9yzm44r.csv',
  'summary': {'cols_count': 8,
   'rows_count': 19,
   'size': '1.3 kB',
   'dtypes_list': ['object'],
   'total_count_dtypes': 1,
   'missing_count': 1,
   'p_missing': 5.26},
  'id': {'columns': {'profiler_dtype': 'string'}}}}

In [ ]:
df.

In [14]:
import pandas as pd
ser = pd.Series(["1", "2"], dtype='object')
ser.astype(int)
# ser.dtypes

0    1
1    2
dtype: int32

In [6]:
df.meta.get()

{'file_name': 'tmpd9yzm44r.csv',
 'mime_info': [{'mime': 'text/plain',
   'encoding': 'utf-8',
   'file_ext': 'csv',
   'file_type': 'csv',
   'properties': {'delimiter': ',',
    'doublequote': False,
    'escapechar': None,
    'lineterminator': '\r\n',
    'quotechar': '"',
    'quoting': 0,
    'skipinitialspace': False}}],
 'transformations': {'actions': {}},
 'profile': {'columns': {'id': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '9', 'count': 1},
      {'value': '8', 'count': 1},
      {'value': '7', 'count': 1},
      {'value': '6', 'count': 1},
      {'value': '5', 'count': 1},
      {'value': '4', 'count': 1},
      {'value': '3', 'count': 1},
      {'value': '2', 'count': 1},
      {'value': '19', 'count': 1},
      {'value': '18', 'count': 1},
      {'value': '17', 'count': 1},
      {'value': '16', 'count': 1},
      {'value': '15', 'count': 1},
      {'value': '14', 'count': 1},
      {'value': '13', 'count': 1},
      {'value': '12', 'count': 1},
      {'value': '11', 'count': 1},
      {'value': '10', 'count': 1},
      {'value': '1', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'int'},
   'firstName': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': 'William', 'count': 1},
      {'value': 'PAUL', 'count': 1},
      {'value': 'NiELS', 'count': 1},
      {'value': 'Max!!!', 'count': 1},
      {'value': 'Marie', 'count': 1},
      {'value': 'Luis', 'count': 1},
      {'value': 'Johannes', 'count': 1},
      {'value': 'JaMES', 'count': 1},
      {'value': 'JAMES', 'count': 1},
      {'value': 'Isaac', 'count': 1},
      {'value': 'Galileo', 'count': 1},
      {'value': 'Fred', 'count': 1},
      {'value': 'Emmy%%', 'count': 1},
      {'value': 'David', 'count': 1},
      {'value': 'CaRL', 'count': 1},
      {'value': 'Arthur', 'count': 1},
      {'value': 'Andr', 'count': 1},
      {'value': 'Albert', 'count': 1},
      {'value': '(((   Heinrich )))))', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'string'},
   'lastName': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': 'dirac$', 'count': 1},
      {'value': 'Planck!!!', 'count': 1},
      {'value': 'Nether$', 'count': 1},
      {'value': 'Newton', 'count': 1},
      {'value': 'M$$ax%%well', 'count': 1},
      {'value': 'KEPLER', 'count': 1},
      {'value': 'Hoy&&&le', 'count': 1},
      {'value': 'Hertz', 'count': 1},
      {'value': 'H$$$ilbert', 'count': 1},
      {'value': 'Gilbert###', 'count': 1},
      {'value': 'Ga%%%uss', 'count': 1},
      {'value': 'Einstein', 'count': 1},
      {'value': 'Chadwick', 'count': 1},
      {'value': 'CURIE', 'count': 1},
      {'value': 'COM%%%pton', 'count': 1},
      {'value': 'Bhr//((%%', 'count': 1},
      {'value': 'Ampre', 'count': 1},
      {'value': 'Alvarez$$%!', 'count': 1},
      {'value': '             GALiLEI', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'string'},
   'billingId': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '992', 'count': 1},
      {'value': '912', 'count': 1},
      {'value': '886', 'count': 1},
      {'value': '875', 'count': 1},
      {'value': '812', 'count': 1},
      {'value': '735', 'count': 1},
      {'value': '672', 'count': 1},
      {'value': '634', 'count': 1},
      {'value': '624', 'count': 1},
      {'value': '553', 'count': 1},
      {'value': '551', 'count': 1},
      {'value': '521', 'count': 1},
      {'value': '467', 'count': 1},
      {'value': '423', 'count': 1},
      {'value': '323', 'count': 1},
      {'value': '234', 'count': 1},
      {'value': '123', 'count': 1},
      {'value': '116', 'count': 1},
      {'value': '111', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'int'},
   'product': {'stats': {'mismatch': 0,
     'missing': 1,
     'match': 18,
     'frequency': [{'value': 'pizza', 'count': 4},
      {'value': 'taco', 'count': 3},
      {'value': 'pasta', 'count': 2},
      {'value': 'taaaccoo', 'count': 1},
      {'value': 'pizzza', 'count': 1},
      {'value': 'piza', 'count': 1},
      {'value': 'hamburguer', 'count': 1},
      {'value': 'arepa', 'count': 1},
      {'value': 'Rice', 'count': 1},
      {'value': 'Cake', 'count': 1},
      {'value': 'BEER', 'count': 1},
      {'value': '110790', 'count': 1}],
     'count_uniques': 12},
    'dtype': 'object',
    'profiler_dtype': 'string'},
   'price': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '8', 'count': 6},
      {'value': '3', 'count': 4},
      {'value': '9', 'count': 2},
      {'value': '5', 'count': 2},
      {'value': '10', 'count': 2},
      {'value': '4', 'count': 1},
      {'value': '2', 'count': 1},
      {'value': '1', 'count': 1}],
     'count_uniques': 8},
    'dtype': 'object',
    'profiler_dtype': 'int'},
   'birth': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': '2000/03/22', 'count': 1},
      {'value': '1999/02/15', 'count': 1},
      {'value': '1997/06/27', 'count': 1},
      {'value': '1994/01/04', 'count': 1},
      {'value': '1993/12/08', 'count': 1},
      {'value': '1990/07/11', 'count': 1},
      {'value': '1990/07/09', 'count': 1},
      {'value': '1980/07/07', 'count': 1},
      {'value': '1970/07/13', 'count': 1},
      {'value': '1958/03/26', 'count': 1},
      {'value': '1956/11/30', 'count': 1},
      {'value': '1954/07/10', 'count': 1},
      {'value': '1950/07/14', 'count': 1},
      {'value': '1950/07/08', 'count': 1},
      {'value': '1930/08/12', 'count': 1},
      {'value': '1923/03/12', 'count': 1},
      {'value': '1921/05/03', 'count': 1},
      {'value': '1920/04/22', 'count': 1},
      {'value': '1899/01/01', 'count': 1}],
     'count_uniques': 19},
    'dtype': 'object',
    'profiler_dtype': 'date'},
   'dummyCol': {'stats': {'mismatch': 0,
     'missing': 0,
     'match': 19,
     'frequency': [{'value': 'you', 'count': 3},
      {'value': 'gonna', 'count': 3},
      {'value': 'never', 'count': 2},
      {'value': '#', 'count': 2},
      {'value': 'up', 'count': 1},
      {'value': 'run ', 'count': 1},
      {'value': 'never ', 'count': 1},
      {'value': 'let', 'count': 1},
      {'value': 'give', 'count': 1},
      {'value': 'down', 'count': 1},
      {'value': 'desert', 'count': 1},
      {'value': 'around', 'count': 1},
      {'value': 'and', 'count': 1}],
     'count_uniques': 13},
    'dtype': 'object',
    'profiler_dtype': 'string'}},
  'name': None,
  'file_name': 'tmpd9yzm44r.csv',
  'summary': {'cols_count': 8,
   'rows_count': 19,
   'size': '1.3 kB',
   'dtypes_list': ['object'],
   'total_count_dtypes': 1,
   'missing_count': 1,
   'p_missing': 5.26}}}

In [6]:
pdf = df1.ext.buffer_window("*", 0, 19).cols.unnest("birth", separator="/", splits=2, output_cols="birth")[:1]

In [7]:
pdf.cols.dtypes("birth")

'category'

In [8]:
pdf.dtypes

id              uint8
firstName    category
lastName     category
billingId      uint16
product      category
price           uint8
birth        category
dummyCol     category
birth_0        object
birth_1        object
dtype: object

In [64]:
pdf.cols.find("birth", sub=["/"]).ext.display()

NameError: name 'pdf' is not defined

In [7]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", error_bad_lines=False, header=True, null_value="null", infer_schema="true", encoding="UTF-8", quoting=0, lineterminator=None, cache=True).ext.cache()
df = df.rows.drop( df["lastName"].isin(["KEPLER","Hoy&&&le","Hertz","H$$$ilbert","Gilbert###"]) ).ext.cache()

In [5]:
# from dask.distributed import Client, LocalCluster
# cluster = LocalCluster()
# client = Client(cluster)

In [8]:
df = op.load.file("data/nvidia.xlsx", n_rows=10).ext.cache()
df.head()
# df= df.ext.optimize()
# df = op.load.file("data/Meteorite_Landings.csv", n_rows=100).ext.cache()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df.ext.display()

In [135]:
df.ext.set_buffer("*")
pdf = df.ext.get_buffer()

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 500000 elements requested, only 100 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [136]:
df.dtypes

name             object
id                uint8
nametype       category
recclass       category
mass (g)         object
fall           category
year             object
reclat           object
reclong          object
GeoLocation      object
dtype: object

In [144]:
df["mass (g)"].compute()

0         21
1        720
2     107000
3       1914
4        780
       ...
95     25000
96     19000
97    1770.5
98      3880
99     45000
Name: mass (g), Length: 100, dtype: object

In [200]:
fastnumbers.isreal(1, num_only=True)

True

In [169]:
import fastnumbers

In [217]:
pdf = df.compute()

In [245]:
pdf.rows.between('mass (g)',10,200)

TypeError: '>' not supported between instances of 'str' and 'int'

In [236]:
def func(value):       
#     print(value, fastnumbers.isreal(value) and value==value)
    if fastnumbers.isreal(value) is True and value==value:        
        return True
    else:
        return False
    
df['mass (g)'].apply(func, meta=bool).compute()
# pdf['mass (g)'].apply(func)

0     True
1     True
2     True
3     True
4     True
      ...
95    True
96    True
97    True
98    True
99    True
Length: 100, dtype: bool

In [141]:
import pandas as pd
a = pd.to_numeric(df["mass (g)"])

In [148]:
df.query("'mass (g)'<=10000")

ValueError: Metadata inference failed in `query`.

You have supplied a custom function and Dask is unable to
determine the type of output that that function returns.

To resolve this please provide a meta= keyword.
The docstring of the Dask function you ran should have more information.

Original error is below:
------------------------
TypeError("'<=' not supported between instances of 'str' and 'int'")

Traceback:
---------
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\utils.py", line 172, in raise_on_meta_error
    yield
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py", line 4941, in _emulate
    return func(*_extract_meta(args, True), **_extract_meta(kwargs, True))
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\utils.py", line 880, in __call__
    return getattr(obj, self.method)(*args, **kwargs)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3231, in query
    res = self.eval(expr, **kwargs)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3346, in eval
    return _eval(expr, inplace=inplace, **kwargs)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\computation\eval.py", line 337, in eval
    ret = eng_inst.evaluate()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\computation\engines.py", line 127, in evaluate
    return self.expr()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\computation\expr.py", line 771, in __call__
    return self.terms(self.env)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\computation\ops.py", line 396, in __call__
    return self.func(left, right)

In [137]:
_output = df.ext.buffer_window("*", 75, 113).rows.find( (df.ext.get_buffer()["mass (g)"]>=9000) & (df.ext.get_buffer()["mass (g)"]<=10000) ).ext.to_json("*")

TypeError: '>=' not supported between instances of 'str' and 'int'

In [131]:
df.ext.buffer_window("*", 0, 34).cols.replace("GeoLocation", search=["6"], replace_by="", search_by="chars", ignore_case=True, output_cols="new GeoLocation").cols.find("GeoLocation", sub=["0"], ignore_case=True)

[[3, 4], [9, 10], [10, 11], [11, 12], [18, 19], [23, 24]]
[[11, 12], [16, 17], [24, 25]]
[[11, 12], [22, 23], [23, 24], [24, 25], [25, 26], [26, 27], [27, 28]]
[[11, 12], [22, 23], [23, 24], [24, 25], [25, 26], [26, 27]]
[[13, 14], [25, 26], [26, 27], [27, 28], [28, 29]]
[[7, 8], [8, 9], [9, 10], [10, 11], [11, 12], [20, 21], [21, 22], [22, 23], [23, 24], [24, 25]]
[[11, 12], [24, 25]]
[[11, 12], [15, 16], [23, 24]]
[[9, 10], [10, 11], [11, 12], [12, 13], [13, 14], [28, 29]]
[[5, 6], [13, 14], [25, 26], [26, 27], [27, 28], [28, 29]]
[[9, 10], [11, 12], [22, 23], [25, 26]]
[[6, 7], [11, 12], [23, 24]]
[[3, 4], [11, 12], [23, 24]]
[[11, 12], [19, 20], [21, 22], [22, 23], [23, 24], [24, 25]]
[[11, 12], [21, 22], [22, 23], [23, 24], [24, 25]]
[[10, 11], [22, 23]]
[[11, 12], [24, 25]]
[[11, 12], [24, 25]]
[[8, 9], [11, 12], [21, 22], [22, 23], [23, 24], [24, 25]]
[[11, 12], [18, 19], [23, 24]]
[[8, 9], [9, 10], [10, 11], [11, 12], [19, 20], [24, 25]]
[[5, 6], [6, 7], [7, 8], [8, 9], [9, 10], [10, 11], [23, 24]]
[[11, 12], [18, 19], [23, 24]]
[[11, 12], [25, 26]]
[[11, 12], [24, 25]]
[[11, 12], [20, 21], [21, 22], [22, 23], [23, 24]]
[[3, 4], [8, 9], [9, 10], [10, 11], [11, 12], [24, 25]]
[[11, 12], [16, 17], [21, 22], [22, 23], [23, 24], [24, 25]]
[[11, 12], [26, 27]]
[[11, 12], [18, 19], [27, 28]]
[[3, 4], [11, 12], [24, 25]]
[[11, 12], [24, 25]]
[[11, 12], [21, 22], [22, 23], [23, 24], [24, 25]]
[[11, 12], [24, 25]]

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,new GeoLocation,GeoLocation__match_positions__
0,Aachen,1,Valid,L5,21,Fell,01/01/1880 12:00:00 AM,50.775000,6.083330,"(50.775000, 6.083330)","(50.775000, .083330)","[[3, 4], [9, 10], [10, 11], [11, 12], [18, 19]..."
1,Aarhus,2,Valid,H6,720,Fell,01/01/1951 12:00:00 AM,56.183330,10.233330,"(56.183330, 10.233330)","(5.183330, 10.233330)","[[11, 12], [16, 17], [24, 25]]"
2,Abee,6,Valid,EH4,107000,Fell,01/01/1952 12:00:00 AM,54.216670,-113.000000,"(54.216670, -113.000000)","(54.2170, -113.000000)","[[11, 12], [22, 23], [23, 24], [24, 25], [25, ..."
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,01/01/1976 12:00:00 AM,16.883330,-99.900000,"(16.883330, -99.900000)","(1.883330, -99.900000)","[[11, 12], [22, 23], [23, 24], [24, 25], [25, ..."
4,Achiras,370,Valid,L6,780,Fell,01/01/1902 12:00:00 AM,-33.166670,-64.950000,"(-33.166670, -64.950000)","(-33.170, -4.950000)","[[13, 14], [25, 26], [26, 27], [27, 28], [28, ..."
5,Adhi Kot,379,Valid,EH4,4239,Fell,01/01/1919 12:00:00 AM,32.100000,71.800000,"(32.100000, 71.800000)","(32.100000, 71.800000)","[[7, 8], [8, 9], [9, 10], [10, 11], [11, 12], ..."
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910,Fell,01/01/1949 12:00:00 AM,44.833330,95.166670,"(44.833330, 95.166670)","(44.833330, 95.170)","[[11, 12], [24, 25]]"
7,Agen,392,Valid,H5,30000,Fell,01/01/1814 12:00:00 AM,44.216670,0.616670,"(44.216670, 0.616670)","(44.2170, 0.170)","[[11, 12], [15, 16], [23, 24]]"
8,Aguada,398,Valid,L6,1620,Fell,01/01/1930 12:00:00 AM,-31.600000,-65.233330,"(-31.600000, -65.233330)","(-31.00000, -5.233330)","[[9, 10], [10, 11], [11, 12], [12, 13], [13, 1..."
9,Aguila Blanca,417,Valid,L,1440,Fell,01/01/1920 12:00:00 AM,-30.866670,-64.550000,"(-30.866670, -64.550000)","(-30.870, -4.550000)","[[5, 6], [13, 14], [25, 26], [26, 27], [27, 28..."
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000,Fell,01/01/1974 12:00:00 AM,16.398060,-9.570280,"(16.398060, -9.570280)","(1.39800, -9.570280)","[[9, 10], [11, 12], [22, 23], [25, 26]]"
11,Ar,424,Valid,L6,24000,Fell,01/01/1925 12:00:00 AM,19.083330,8.383330,"(19.083330, 8.383330)","(19.083330, 8.383330)","[[6, 7], [11, 12], [23, 24]]"
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,01/01/1769 12:00:00 AM,50.666670,2.333330,"(50.666670, 2.333330)","(50.70, 2.333330)","[[3, 4], [11, 12], [23, 24]]"
13,Akaba,426,Valid,L6,779,Fell,01/01/1949 12:00:00 AM,29.516670,35.050000,"(29.516670, 35.050000)","(29.5170, 35.050000)","[[11, 12], [19, 20], [21, 22], [22, 23], [23, ..."
14,Akbarpur,427,Valid,H4,1800,Fell,01/01/1838 12:00:00 AM,29.716670,77.950000,"(29.716670, 77.950000)","(29.7170, 77.950000)","[[11, 12], [21, 22], [22, 23], [23, 24], [24, ..."
15,Akwanga,432,Valid,H,3000,Fell,01/01/1959 12:00:00 AM,8.916670,8.433330,"(8.916670, 8.433330)","(8.9170, 8.433330)","[[10, 11], [22, 23]]"
16,Akyumak,433,Valid,"Iron, IVA",50000,Fell,01/01/1981 12:00:00 AM,39.916670,42.816670,"(39.916670, 42.816670)","(39.9170, 42.8170)","[[11, 12], [24, 25]]"
17,Al Rais,446,Valid,CR2-an,160,Fell,01/01/1957 12:00:00 AM,24.416670,39.516670,"(24.416670, 39.516670)","(24.4170, 39.5170)","[[11, 12], [24, 25]]"
18,Al Zarnkh,447,Valid,LL5,700,Fell,01/01/2001 12:00:00 AM,13.660330,28.960000,"(13.660330, 28.960000)","(13.0330, 28.90000)","[[8, 9], [11, 12], [21, 22], [22, 23], [23, 24..."
19,Alais,448,Valid,CI1,6000,Fell,01/01/1806 12:00:00 AM,44.116670,4.083330,"(44.116670, 4.083330)","(44.1170, 4.083330)","[[11, 12], [18, 19], [23, 24]]"
20,Albareto,453,Valid,L/LL4,2000,Fell,01/01/1766 12:00:00 AM,44.650000,11.016670,"(44.650000, 11.016670)","(44.50000, 11.0170)","[[8, 9], [9, 10], [10, 11], [11, 12], [19, 20]..."
21,Alberta,454,Valid,L,625,Fell,01/01/1949 12:00:00 AM,2.000000,22.666670,"(2.000000, 22.666670)","(2.000000, 22.70)","[[5, 6], [6, 7], [7, 8], [8, 9], [9, 10], [10,..."
22,Alby sur Chran,458,Valid,Eucrite-mmict,252,Fell,01/01/2002 12:00:00 AM,45.821330,6.015330,"(45.821330, 6.015330)","(45.821330, .015330)","[[11, 12], [18, 19], [23, 24]]"
23,Aldsworth,461,Valid,LL5,700,Fell,01/01/1835 12:00:00 AM,51.783330,-1.783330,"(51.783330, -1.783330)","(51.783330, -1.783330)","[[11, 12], [25, 26]]"
24,Aleppo,462,Valid,L6,3200,Fell,01/01/1873 12:00:00 AM,36.233330,37.133330,"(36.233330, 37.133330)","(3.233330, 37.133330)","[[11, 12], [24, 25]]"
25,Alessandria,463,Valid,H5,908,Fell,01/01/1860 12:00:00 AM,44.883330,8.750000,"(44.883330, 8.750000)","(44.883330, 8.750000)","[[11, 12], [20, 21], [21, 22], [22, 23], [23, ..."
26,Alexandrovsky,465,Valid,H4,9251,Fell,01/01/1900 12:00:00 AM,50.950000,31.816670,"(50.950000, 31.816670)","(50.950000, 31.8170)","[[3, 4], [8, 9], [9, 10], [10, 11], [11, 12], ..."
27,Alfianello,466,Valid,L6,228000,Fell,01/01/1883 12:00:00 AM,45.266670,10.150000,"(45.266670, 10.150000)","(45.270, 10.150000)","[[11, 12], [16, 17], [21, 22], [22, 23], [23, ..."
28,Allegan,2276,Valid,H5,32000,Fell,01/01/1899 12:00:00 AM,42.533330,-85.883330,"(42.533330, -85.883330)","(42.533330, -85.883330)","[[11, 12], [26, 27]]"
29,Allende,2278,Valid,CV3,2000000,Fell,01/01/1969 12:00:00 AM,26.966670,-105.316670,"(26.966670, -105.316670)","(2.970, -105.3170)","[[11, 12], [18, 19], [27, 28]]"
30,Almahata Sitta,48915,Valid,Ureilite-an,3950,Fell,01/01/2008 12:00:00 AM,20.745750,32.412750,"(20.745750, 32.412750)","(20.745750, 32.412750)","[[3, 4], [11, 12], [24, 25]]"
31,Alta'ameem,2284,Valid,LL5,6000,Fell,01/01/1977 12:00:00 AM,35.273330,44.215560,"(35.273330, 44.215560)","(35.273330, 44.21550)","[[11, 12], [24, 25]]"
32,Ambapur Nagla,2290,Valid,H5,6400,Fell,01/01/1895 12:00:00 AM,27.666670,78.250000,"(27.666670, 78.250000)","(27.70, 78.250000)","[[11, 12], [21, 22], [22, 23], [23, 24], [24, ..."
33,Andhara,2294,Valid,Stone-uncl,2700,Fell,01/01/1880 12:00:00 AM,26.583330,85.566670,"(26.583330, 85.566670)","(2.583330, 85.570)","[[11, 12], [24, 25]]"

In [125]:
df.ext.buffer_window("*").cols.replace("GeoLocation", search=["6"], replace_by="", search_by="chars", ignore_case=True, output_cols="new GeoLocation")

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,new GeoLocation
0,Aachen,1,Valid,L5,21,Fell,01/01/1880 12:00:00 AM,50.775000,6.083330,"(50.775000, 6.083330)","(50.775000, .083330)"
1,Aarhus,2,Valid,H6,720,Fell,01/01/1951 12:00:00 AM,56.183330,10.233330,"(56.183330, 10.233330)","(5.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000,Fell,01/01/1952 12:00:00 AM,54.216670,-113.000000,"(54.216670, -113.000000)","(54.2170, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,01/01/1976 12:00:00 AM,16.883330,-99.900000,"(16.883330, -99.900000)","(1.883330, -99.900000)"
4,Achiras,370,Valid,L6,780,Fell,01/01/1902 12:00:00 AM,-33.166670,-64.950000,"(-33.166670, -64.950000)","(-33.170, -4.950000)"
...,...,...,...,...,...,...,...,...,...,...,...
95,Benguerir,30443,Valid,LL6,25000,Fell,01/01/2004 12:00:00 AM,32.250000,-8.150000,"(32.250000, -8.150000)","(32.250000, -8.150000)"
96,Beni M'hira,5018,Valid,L6,19000,Fell,01/01/2001 12:00:00 AM,32.866670,10.800000,"(32.866670, 10.800000)","(32.870, 10.800000)"
97,Benld,5021,Valid,H6,1770.5,Fell,01/01/1938 12:00:00 AM,39.083330,-89.150000,"(39.083330, -89.150000)","(39.083330, -89.150000)"
98,Benoni,5023,Valid,H6,3880,Fell,01/01/1943 12:00:00 AM,-26.166670,28.416670,"(-26.166670, 28.416670)","(-2.170, 28.4170)"
99,Bensour,5024,Valid,LL6,45000,Fell,01/01/2002 12:00:00 AM,30.000000,-7.000000,"(30.000000, -7.000000)","(30.000000, -7.000000)"

In [62]:
df.ext.buffer_window("*", 0, 19).cols.unnest("birth", separator="/", splits=2, output_cols="birth").cols.find("birth", sub=["/"]).ext.to_json("*")
# df.ext.buffer_window("*", 0, 19).cols.unnest("birth", separator="/", splits=2, output_cols="birth").cols.find("birth", sub=["/"]).ext.to_json("*")

ASD ['/']

{'sample': {'columns': [{'title': 'id'},
   {'title': 'firstName'},
   {'title': 'lastName'},
   {'title': 'billingId'},
   {'title': 'product'},
   {'title': 'price'},
   {'title': 'birth'},
   {'title': 'dummyCol'},
   {'title': 'birth_0'},
   {'title': 'birth_1'},
   {'title': 'birth__match_positions__'}],
  'value': [['1',
    'Luis',
    'Alvarez$$%!',
    '123',
    'Cake',
    '10',
    '1980/07/07',
    'never',
    '1980',
    '07',
    None],
   ['2',
    'Andr',
    'Ampre',
    '423',
    'piza',
    '8',
    '1950/07/08',
    'gonna',
    '1950',
    '07',
    None],
   ['3',
    'NiELS',
    'Bhr//((%%',
    '551',
    'pizza',
    '8',
    '1990/07/09',
    'give',
    '1990',
    '07',
    None],
   ['4',
    'PAUL',
    'dirac$',
    '521',
    'pizza',
    '8',
    '1954/07/10',
    'you',
    '1954',
    '07',
    None],
   ['5',
    'Albert',
    'Einstein',
    '634',
    'pizza',
    '8',
    '1990/07/11',
    'up',
    '1990',
    '07',
    None],
   ['6',
    'Galileo',
    '             GALiLEI',
    '672',
    'arepa',
    '5',
    '1930/08/12',
    'never',
    '1930',
    '08',
    None],
   ['7',
    'CaRL',
    'Ga%%%uss',
    '323',
    'taco',
    '3',
    '1970/07/13',
    'gonna',
    '1970',
    '07',
    None],
   ['8',
    'David',
    'H$$$ilbert',
    '624',
    'taaaccoo',
    '3',
    '1950/07/14',
    'let',
    '1950',
    '07',
    None],
   ['9',
    'Johannes',
    'KEPLER',
    '735',
    'taco',
    '3',
    '1920/04/22',
    'you',
    '1920',
    '04',
    None],
   ['10',
    'JaMES',
    'M$$ax%%well',
    '875',
    'taco',
    '3',
    '1923/03/12',
    'down',
    '1923',
    '03',
    None],
   ['11',
    'Isaac',
    'Newton',
    '992',
    'pasta',
    '9',
    '1999/02/15',
    'never ',
    '1999',
    '02',
    None],
   ['12',
    'Emmy%%',
    'Nether$',
    '234',
    'pasta',
    '9',
    '1993/12/08',
    'gonna',
    '1993',
    '12',
    None],
   ['13',
    'Max!!!',
    'Planck!!!',
    '111',
    'hamburguer',
    '4',
    '1994/01/04',
    'run ',
    '1994',
    '01',
    None],
   ['14',
    'Fred',
    'Hoy&&&le',
    '553',
    'pizzza',
    '8',
    '1997/06/27',
    'around',
    '1997',
    '06',
    None],
   ['15',
    '(((   Heinrich )))))',
    'Hertz',
    '116',
    'pizza',
    '8',
    '1956/11/30',
    'and',
    '1956',
    '11',
    None],
   ['16',
    'William',
    'Gilbert###',
    '886',
    'BEER',
    '2',
    '1958/03/26',
    'desert',
    '1958',
    '03',
    None],
   ['17',
    'Marie',
    'CURIE',
    '912',
    'Rice',
    '1',
    '2000/03/22',
    'you',
    '2000',
    '03',
    None],
   ['18',
    'Arthur',
    'COM%%%pton',
    '812',
    '110790',
    '5',
    '1899/01/01',
    '#',
    '1899',
    '01',
    None],
   ['19',
    'JAMES',
    'Chadwick',
    '467',
    nan,
    '10',
    '1921/05/03',
    '#',
    '1921',
    '05',
    None]]}}

In [16]:
_output

{'sample': {'columns': [{'title': 'id'},
   {'title': 'firstName'},
   {'title': 'lastName'},
   {'title': 'billingId'},
   {'title': 'product'},
   {'title': 'price'},
   {'title': 'birth'},
   {'title': 'dummyCol'},
   {'title': 'birth_0'},
   {'title': 'birth_1'},
   {'title': 'birth__match_positions__'}],
  'value': [['1',
    'Luis',
    'Alvarez$$%!',
    '123',
    'Cake',
    '10',
    '1980/07/07',
    'never',
    '1980',
    '07',
    [[4, 5], [7, 8]]],
   ['2',
    'Andr',
    'Ampre',
    '423',
    'piza',
    '8',
    '1950/07/08',
    'gonna',
    '1950',
    '07',
    [[4, 5], [7, 8]]],
   ['3',
    'NiELS',
    'Bhr//((%%',
    '551',
    'pizza',
    '8',
    '1990/07/09',
    'give',
    '1990',
    '07',
    [[4, 5], [7, 8]]],
   ['4',
    'PAUL',
    'dirac$',
    '521',
    'pizza',
    '8',
    '1954/07/10',
    'you',
    '1954',
    '07',
    [[4, 5], [7, 8]]],
   ['5',
    'Albert',
    'Einstein',
    '634',
    'pizza',
    '8',
    '1990/07/11',
    'up',
    '1990',
    '07',
    [[4, 5], [7, 8]]],
   ['6',
    'Galileo',
    '             GALiLEI',
    '672',
    'arepa',
    '5',
    '1930/08/12',
    'never',
    '1930',
    '08',
    [[4, 5], [7, 8]]],
   ['7',
    'CaRL',
    'Ga%%%uss',
    '323',
    'taco',
    '3',
    '1970/07/13',
    'gonna',
    '1970',
    '07',
    [[4, 5], [7, 8]]],
   ['8',
    'David',
    'H$$$ilbert',
    '624',
    'taaaccoo',
    '3',
    '1950/07/14',
    'let',
    '1950',
    '07',
    [[4, 5], [7, 8]]],
   ['9',
    'Johannes',
    'KEPLER',
    '735',
    'taco',
    '3',
    '1920/04/22',
    'you',
    '1920',
    '04',
    [[4, 5], [7, 8]]],
   ['10',
    'JaMES',
    'M$$ax%%well',
    '875',
    'taco',
    '3',
    '1923/03/12',
    'down',
    '1923',
    '03',
    [[4, 5], [7, 8]]],
   ['11',
    'Isaac',
    'Newton',
    '992',
    'pasta',
    '9',
    '1999/02/15',
    'never ',
    '1999',
    '02',
    [[4, 5], [7, 8]]],
   ['12',
    'Emmy%%',
    'Nether$',
    '234',
    'pasta',
    '9',
    '1993/12/08',
    'gonna',
    '1993',
    '12',
    [[4, 5], [7, 8]]],
   ['13',
    'Max!!!',
    'Planck!!!',
    '111',
    'hamburguer',
    '4',
    '1994/01/04',
    'run ',
    '1994',
    '01',
    [[4, 5], [7, 8]]],
   ['14',
    'Fred',
    'Hoy&&&le',
    '553',
    'pizzza',
    '8',
    '1997/06/27',
    'around',
    '1997',
    '06',
    [[4, 5], [7, 8]]],
   ['15',
    '(((   Heinrich )))))',
    'Hertz',
    '116',
    'pizza',
    '8',
    '1956/11/30',
    'and',
    '1956',
    '11',
    [[4, 5], [7, 8]]],
   ['16',
    'William',
    'Gilbert###',
    '886',
    'BEER',
    '2',
    '1958/03/26',
    'desert',
    '1958',
    '03',
    [[4, 5], [7, 8]]],
   ['17',
    'Marie',
    'CURIE',
    '912',
    'Rice',
    '1',
    '2000/03/22',
    'you',
    '2000',
    '03',
    [[4, 5], [7, 8]]],
   ['18',
    'Arthur',
    'COM%%%pton',
    '812',
    '110790',
    '5',
    '1899/01/01',
    '#',
    '1899',
    '01',
    [[4, 5], [7, 8]]],
   ['19',
    'JAMES',
    'Chadwick',
    '467',
    nan,
    '10',
    '1921/05/03',
    '#',
    '1921',
    '05',
    [[4, 5], [7, 8]]]]}}

In [128]:
_output = df.ext.buffer_window("*", 0, 34).cols.lower("Id", output_cols="new id").ext.to_json("*")

SDFSF ['Id'] ['new id']

In [129]:
df1 = df.ext.optimize()

In [130]:
df1.ext.display(100)

In [131]:
df.meta.get()

{'file_name': 'jurgen.csv',
 'mime_info': [{'mime': 'text/plain',
   'encoding': 'us-ascii',
   'file_ext': 'csv',
   'file_type': 'csv',
   'properties': {'delimiter': ',',
    'doublequote': False,
    'escapechar': None,
    'lineterminator': '\r\n',
    'quotechar': '"',
    'quoting': 0,
    'skipinitialspace': False}}]}

In [135]:
df1.ext.profile(columns="*", infer=True,  flush=True)

{'columns': {'Id': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'hist': [{'lower': 12.0, 'upper': 102.5625, 'count': 7},
     {'lower': 102.5625, 'upper': 193.125, 'count': 7},
     {'lower': 193.125, 'upper': 283.6875, 'count': 4},
     {'lower': 283.6875, 'upper': 374.25, 'count': 5},
     {'lower': 374.25, 'upper': 464.8125, 'count': 2},
     {'lower': 464.8125, 'upper': 555.375, 'count': 3},
     {'lower': 555.375, 'upper': 645.9375, 'count': 3},
     {'lower': 645.9375, 'upper': 736.5, 'count': 1},
     {'lower': 736.5, 'upper': 827.0625, 'count': 5},
     {'lower': 827.0625, 'upper': 917.625, 'count': 2},
     {'lower': 917.625, 'upper': 1008.1875, 'count': 2},
     {'lower': 1008.1875, 'upper': 1098.75, 'count': 2},
     {'lower': 1098.75, 'upper': 1189.3125, 'count': 2},
     {'lower': 1189.3125, 'upper': 1279.875, 'count': 0},
     {'lower': 1279.875, 'upper': 1370.4375, 'count': 6},
     {'lower': 1370.4375, 'upper': 1461.0, 'count': 1},
     {'lower': 1461.0, 'upper': 1551.5625, 'count': 5},
     {'lower': 1551.5625, 'upper': 1642.125, 'count': 2},
     {'lower': 1642.125, 'upper': 1732.6875, 'count': 2},
     {'lower': 1732.6875, 'upper': 1823.25, 'count': 1},
     {'lower': 1823.25, 'upper': 1913.8125, 'count': 3},
     {'lower': 1913.8125, 'upper': 2004.375, 'count': 7},
     {'lower': 2004.375, 'upper': 2094.9375, 'count': 2},
     {'lower': 2094.9375, 'upper': 2185.5, 'count': 2},
     {'lower': 2185.5, 'upper': 2276.0625, 'count': 3},
     {'lower': 2276.0625, 'upper': 2366.625, 'count': 3},
     {'lower': 2366.625, 'upper': 2457.1875, 'count': 5},
     {'lower': 2457.1875, 'upper': 2547.75, 'count': 3},
     {'lower': 2547.75, 'upper': 2638.3125, 'count': 3},
     {'lower': 2638.3125, 'upper': 2728.875, 'count': 1},
     {'lower': 2728.875, 'upper': 2819.4375, 'count': 1},
     {'lower': 2819.4375, 'upper': 2910.0, 'count': 5}],
    'count_uniques': 100},
   'dtype': 'uint16',
   'profiler_dtype': 'int'},
  'PID': {'stats': {'mismatch': 100,
    'missing': 0,
    'match': 0,
    'hist': [{'lower': 527107010.0, 'upper': 539487260.9375, 'count': 55},
     {'lower': 539487260.9375, 'upper': 551867511.875, 'count': 0},
     {'lower': 551867511.875, 'upper': 564247762.8125, 'count': 0},
     {'lower': 564247762.8125, 'upper': 576628013.75, 'count': 0},
     {'lower': 576628013.75, 'upper': 589008264.6875, 'count': 0},
     {'lower': 589008264.6875, 'upper': 601388515.625, 'count': 0},
     {'lower': 601388515.625, 'upper': 613768766.5625, 'count': 0},
     {'lower': 613768766.5625, 'upper': 626149017.5, 'count': 0},
     {'lower': 626149017.5, 'upper': 638529268.4375, 'count': 0},
     {'lower': 638529268.4375, 'upper': 650909519.375, 'count': 0},
     {'lower': 650909519.375, 'upper': 663289770.3125, 'count': 0},
     {'lower': 663289770.3125, 'upper': 675670021.25, 'count': 0},
     {'lower': 675670021.25, 'upper': 688050272.1875, 'count': 0},
     {'lower': 688050272.1875, 'upper': 700430523.125, 'count': 0},
     {'lower': 700430523.125, 'upper': 712810774.0625, 'count': 0},
     {'lower': 712810774.0625, 'upper': 725191025.0, 'count': 0},
     {'lower': 725191025.0, 'upper': 737571275.9375, 'count': 0},
     {'lower': 737571275.9375, 'upper': 749951526.875, 'count': 0},
     {'lower': 749951526.875, 'upper': 762331777.8125, 'count': 0},
     {'lower': 762331777.8125, 'upper': 774712028.75, 'count': 0},
     {'lower': 774712028.75, 'upper': 787092279.6875, 'count': 0},
     {'lower': 787092279.6875, 'upper': 799472530.625, 'count': 0},
     {'lower': 799472530.625, 'upper': 811852781.5625, 'count': 0},
     {'lower': 811852781.5625, 'upper': 824233032.5, 'count': 0},
     {'lower': 824233032.5, 'upper': 836613283.4375, 'count': 0},
     {'lower': 836613283.4375, 'upper': 848993534.375, 'count': 0},
     {'lower': 848993534.375, 'upper': 861373785.3125, 'count': 0},
     {'lower': 861373785.3125, 'upper': 873754036.25, 'count': 0},
     {'lower': 873754036.25, 'upper': 886134287.1875, 'count': 0},
     {'lower': 886134287.1875, 'upper': 898514538.125, 'count': 0},
     {'lower': 898514538.125, 'upper': 910894789.0625, 'count': 36},
     {'lower': 910894789.0625, 'upper': 923275040.0, 'count': 9}],
    'count_uniques': 100},
   'dtype': 'uint32',
   'profiler_dtype': 'zip_code'},
  'MS SubClass': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'hist': [{'lower': 20.0, 'upper': 25.3125, 'count': 41},
     {'lower': 25.3125, 'upper': 30.625, 'count': 3},
     {'lower': 30.625, 'upper': 35.9375, 'count': 0},
     {'lower': 35.9375, 'upper': 41.25, 'count': 0},
     {'lower': 41.25, 'upper': 46.5625, 'count': 0},
     {'lower': 46.5625, 'upper': 51.875, 'count': 9},
     {'lower': 51.875, 'upper': 57.1875, 'count': 0},
     {'lower': 57.1875, 'upper': 62.5, 'count': 14},
     {'lower': 62.5, 'upper': 67.8125, 'count': 0},
     {'lower': 67.8125, 'upper': 73.125, 'count': 7},
     {'lower': 73.125, 'upper': 78.4375, 'count': 0},
     {'lower': 78.4375, 'upper': 83.75, 'count': 3},
     {'lower': 83.75, 'upper': 89.0625, 'count': 1},
     {'lower': 89.0625, 'upper': 94.375, 'count': 2},
     {'lower': 94.375, 'upper': 99.6875, 'count': 0},
     {'lower': 99.6875, 'upper': 105.0, 'count': 0},
     {'lower': 105.0, 'upper': 110.3125, 'count': 0},
     {'lower': 110.3125, 'upper': 115.625, 'count': 0},
     {'lower': 115.625, 'upper': 120.9375, 'count': 7},
     {'lower': 120.9375, 'upper': 126.25, 'count': 0},
     {'lower': 126.25, 'upper': 131.5625, 'count': 0},
     {'lower': 131.5625, 'upper': 136.875, 'count': 0},
     {'lower': 136.875, 'upper': 142.1875, 'count': 0},
     {'lower': 142.1875, 'upper': 147.5, 'count': 0},
     {'lower': 147.5, 'upper': 152.8125, 'count': 0},
     {'lower': 152.8125, 'upper': 158.125, 'count': 0},
     {'lower': 158.125, 'upper': 163.4375, 'count': 10},
     {'lower': 163.4375, 'upper': 168.75, 'count': 0},
     {'lower': 168.75, 'upper': 174.0625, 'count': 0},
     {'lower': 174.0625, 'upper': 179.375, 'count': 0},
     {'lower': 179.375, 'upper': 184.6875, 'count': 1},
     {'lower': 184.6875, 'upper': 190.0, 'count': 2}],
    'count_uniques': 12},
   'dtype': 'uint8',
   'profiler_dtype': 'int'},
  'MS Zoning': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'RL', 'count': 77},
     {'value': 'RM', 'count': 15},
     {'value': 'FV', 'count': 7},
     {'value': 'C (all)', 'count': 1}],
    'count_uniques': 4},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Lot Frontage': {'stats': {'mismatch': 0,
    'missing': 16,
    'match': 84,
    'frequency': [{'value': '80', 'count': 10},
     {'value': '60', 'count': 8},
     {'value': '70', 'count': 6},
     {'value': '75', 'count': 4},
     {'value': '24', 'count': 3},
     {'value': '100', 'count': 3},
     {'value': '81', 'count': 2},
     {'value': '35', 'count': 2},
     {'value': '32', 'count': 2},
     {'value': '30', 'count': 2},
     {'value': '43', 'count': 2},
     {'value': '82', 'count': 2},
     {'value': '92', 'count': 2},
     {'value': '21', 'count': 2},
     {'value': '63', 'count': 2},
     {'value': '64', 'count': 2},
     {'value': '65', 'count': 2},
     {'value': '68', 'count': 2},
     {'value': '73', 'count': 2},
     {'value': '74', 'count': 2},
     {'value': '79', 'count': 2},
     {'value': '120', 'count': 1},
     {'value': '109', 'count': 1},
     {'value': '137', 'count': 1},
     {'value': '107', 'count': 1},
     {'value': '105', 'count': 1},
     {'value': '103', 'count': 1},
     {'value': '34', 'count': 1},
     {'value': '44', 'count': 1},
     {'value': '36', 'count': 1},
     {'value': '40', 'count': 1},
     {'value': '41', 'count': 1},
     {'value': '48', 'count': 1}],
    'count_uniques': 41},
   'dtype': 'object',
   'profiler_dtype': 'int'},
  'Lot Area': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'hist': [{'lower': 1476.0, 'upper': 2512.6875, 'count': 3},
     {'lower': 2512.6875, 'upper': 3549.375, 'count': 9},
     {'lower': 3549.375, 'upper': 4586.0625, 'count': 5},
     {'lower': 4586.0625, 'upper': 5622.75, 'count': 0},
     {'lower': 5622.75, 'upper': 6659.4375, 'count': 4},
     {'lower': 6659.4375, 'upper': 7696.125, 'count': 7},
     {'lower': 7696.125, 'upper': 8732.8125, 'count': 13},
     {'lower': 8732.8125, 'upper': 9769.5, 'count': 15},
     {'lower': 9769.5, 'upper': 10806.1875, 'count': 10},
     {'lower': 10806.1875, 'upper': 11842.875, 'count': 11},
     {'lower': 11842.875, 'upper': 12879.5625, 'count': 4},
     {'lower': 12879.5625, 'upper': 13916.25, 'count': 4},
     {'lower': 13916.25, 'upper': 14952.9375, 'count': 2},
     {'lower': 14952.9375, 'upper': 15989.625, 'count': 4},
     {'lower': 15989.625, 'upper': 17026.3125, 'count': 2},
     {'lower': 17026.3125, 'upper': 18063.0, 'count': 3},
     {'lower': 18063.0, 'upper': 19099.6875, 'count': 0},
     {'lower': 19099.6875, 'upper': 20136.375, 'count': 1},
     {'lower': 20136.375, 'upper': 21173.0625, 'count': 0},
     {'lower': 21173.0625, 'upper': 22209.75, 'count': 0},
     {'lower': 22209.75, 'upper': 23246.4375, 'count': 0},
     {'lower': 23246.4375, 'upper': 24283.125, 'count': 1},
     {'lower': 24283.125, 'upper': 25319.8125, 'count': 0},
     {'lower': 25319.8125, 'upper': 26356.5, 'count': 0},
     {'lower': 26356.5, 'upper': 27393.1875, 'count': 1},
     {'lower': 27393.1875, 'upper': 28429.875, 'count': 0},
     {'lower': 28429.875, 'upper': 29466.5625, 'count': 0},
     {'lower': 29466.5625, 'upper': 30503.25, 'count': 0},
     {'lower': 30503.25, 'upper': 31539.9375, 'count': 0},
     {'lower': 31539.9375, 'upper': 32576.625, 'count': 0},
     {'lower': 32576.625, 'upper': 33613.3125, 'count': 0},
     {'lower': 33613.3125, 'upper': 34650.0, 'count': 1}],
    'count_uniques': 95},
   'dtype': 'uint16',
   'profiler_dtype': 'int'},
  'Street': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'Pave', 'count': 99},
     {'value': 'Grvl', 'count': 1}],
    'count_uniques': 2},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Alley': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 10,
    'frequency': [{'value': 'Grvl', 'count': 6},
     {'value': 'Pave', 'count': 4}],
    'count_uniques': 2},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Lot Shape': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'Reg', 'count': 64},
     {'value': 'IR1', 'count': 31},
     {'value': 'IR2', 'count': 4},
     {'value': 'IR3', 'count': 1}],
    'count_uniques': 4},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Land Contour': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'Lvl', 'count': 89},
     {'value': 'HLS', 'count': 7},
     {'value': 'Bnk', 'count': 3},
     {'value': 'Low', 'count': 1}],
    'count_uniques': 4},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Utilities': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'AllPub', 'count': 100}],
    'count_uniques': 1},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Lot Config': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'Inside', 'count': 76},
     {'value': 'Corner', 'count': 16},
     {'value': 'CulDSac', 'count': 5},
     {'value': 'FR2', 'count': 3}],
    'count_uniques': 4},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Land Slope': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'Gtl', 'count': 92},
     {'value': 'Mod', 'count': 7},
     {'value': 'Sev', 'count': 1}],
    'count_uniques': 3},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Neighborhood': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'NAmes', 'count': 19},
     {'value': 'Sawyer', 'count': 9},
     {'value': 'Somerst', 'count': 8},
     {'value': 'NWAmes', 'count': 6},
     {'value': 'SawyerW', 'count': 6},
     {'value': 'Edwards', 'count': 6},
     {'value': 'OldTown', 'count': 6},
     {'value': 'NridgHt', 'count': 6},
     {'value': 'Crawfor', 'count': 5},
     {'value': 'Mitchel', 'count': 5},
     {'value': 'CollgCr', 'count': 5},
     {'value': 'Gilbert', 'count': 3},
     {'value': 'IDOTRR', 'count': 3},
     {'value': 'MeadowV', 'count': 2},
     {'value': 'StoneBr', 'count': 2},
     {'value': 'NoRidge', 'count': 2},
     {'value': 'BrkSide', 'count': 1},
     {'value': 'ClearCr', 'count': 1},
     {'value': 'BrDale', 'count': 1},
     {'value': 'Veenker', 'count': 1},
     {'value': 'Timber', 'count': 1},
     {'value': 'SWISU', 'count': 1},
     {'value': 'Blmngtn', 'count': 1}],
    'count_uniques': 23},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Condition 1': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'Norm', 'count': 81},
     {'value': 'Feedr', 'count': 7},
     {'value': 'Artery', 'count': 5},
     {'value': 'RRAe', 'count': 3},
     {'value': 'RRNe', 'count': 1},
     {'value': 'RRAn', 'count': 1},
     {'value': 'PosN', 'count': 1},
     {'value': 'PosA', 'count': 1}],
    'count_uniques': 8},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Condition 2': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': 'Norm', 'count': 99},
     {'value': 'RRNn', 'count': 1}],
    'count_uniques': 2},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Bldg Type': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': '1Fam', 'count': 78},
     {'value': 'TwnhsE', 'count': 12},
     {'value': 'Twnhs', 'count': 6},
     {'value': 'Duplex', 'count': 2},
     {'value': '2fmCon', 'count': 2}],
    'count_uniques': 5},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'House Style': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'frequency': [{'value': '1Story', 'count': 53},
     {'value': '2Story', 'count': 33},
     {'value': '1.5Fin', 'count': 9},
     {'value': 'SLvl', 'count': 3},
     {'value': 'SFoyer', 'count': 2}],
    'count_uniques': 5},
   'dtype': 'category',
   'profiler_dtype': 'string'},
  'Overall Qual': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'hist': [{'lower': 4.0, 'upper': 4.1875, 'count': 4},
     {'lower': 4.1875, 'upper': 4.375, 'count': 0},
     {'lower': 4.375, 'upper': 4.5625, 'count': 0},
     {'lower': 4.5625, 'upper': 4.75, 'count': 0},
     {'lower': 4.75, 'upper': 4.9375, 'count': 0},
     {'lower': 4.9375, 'upper': 5.125, 'count': 37},
     {'lower': 5.125, 'upper': 5.3125, 'count': 0},
     {'lower': 5.3125, 'upper': 5.5, 'count': 0},
     {'lower': 5.5, 'upper': 5.6875, 'count': 0},
     {'lower': 5.6875, 'upper': 5.875, 'count': 0},
     {'lower': 5.875, 'upper': 6.0625, 'count': 21},
     {'lower': 6.0625, 'upper': 6.25, 'count': 0},
     {'lower': 6.25, 'upper': 6.4375, 'count': 0},
     {'lower': 6.4375, 'upper': 6.625, 'count': 0},
     {'lower': 6.625, 'upper': 6.8125, 'count': 0},
     {'lower': 6.8125, 'upper': 7.0, 'count': 0},
     {'lower': 7.0, 'upper': 7.1875, 'count': 21},
     {'lower': 7.1875, 'upper': 7.375, 'count': 0},
     {'lower': 7.375, 'upper': 7.5625, 'count': 0},
     {'lower': 7.5625, 'upper': 7.75, 'count': 0},
     {'lower': 7.75, 'upper': 7.9375, 'count': 0},
     {'lower': 7.9375, 'upper': 8.125, 'count': 12},
     {'lower': 8.125, 'upper': 8.3125, 'count': 0},
     {'lower': 8.3125, 'upper': 8.5, 'count': 0},
     {'lower': 8.5, 'upper': 8.6875, 'count': 0},
     {'lower': 8.6875, 'upper': 8.875, 'count': 0},
     {'lower': 8.875, 'upper': 9.0625, 'count': 4},
     {'lower': 9.0625, 'upper': 9.25, 'count': 0},
     {'lower': 9.25, 'upper': 9.4375, 'count': 0},
     {'lower': 9.4375, 'upper': 9.625, 'count': 0},
     {'lower': 9.625, 'upper': 9.8125, 'count': 0},
     {'lower': 9.8125, 'upper': 10.0, 'count': 1}],
    'count_uniques': 7},
   'dtype': 'uint8',
   'profiler_dtype': 'int'},
  'Overall Cond': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'hist': [{'lower': 3.0, 'upper': 3.15625, 'count': 1},
     {'lower': 3.15625, 'upper': 3.3125, 'count': 0},
     {'lower': 3.3125, 'upper': 3.46875, 'count': 0},
     {'lower': 3.46875, 'upper': 3.625, 'count': 0},
     {'lower': 3.625, 'upper': 3.78125, 'count': 0},
     {'lower': 3.78125, 'upper': 3.9375, 'count': 0},
     {'lower': 3.9375, 'upper': 4.09375, 'count': 0},
     {'lower': 4.09375, 'upper': 4.25, 'count': 0},
     {'lower': 4.25, 'upper': 4.40625, 'count': 0},
     {'lower': 4.40625, 'upper': 4.5625, 'count': 0},
     {'lower': 4.5625, 'upper': 4.71875, 'count': 0},
     {'lower': 4.71875, 'upper': 4.875, 'count': 0},
     {'lower': 4.875, 'upper': 5.03125, 'count': 58},
     {'lower': 5.03125, 'upper': 5.1875, 'count': 0},
     {'lower': 5.1875, 'upper': 5.34375, 'count': 0},
     {'lower': 5.34375, 'upper': 5.5, 'count': 0},
     {'lower': 5.5, 'upper': 5.65625, 'count': 0},
     {'lower': 5.65625, 'upper': 5.8125, 'count': 0},
     {'lower': 5.8125, 'upper': 5.96875, 'count': 0},
     {'lower': 5.96875, 'upper': 6.125, 'count': 20},
     {'lower': 6.125, 'upper': 6.28125, 'count': 0},
     {'lower': 6.28125, 'upper': 6.4375, 'count': 0},
     {'lower': 6.4375, 'upper': 6.59375, 'count': 0},
     {'lower': 6.59375, 'upper': 6.75, 'count': 0},
     {'lower': 6.75, 'upper': 6.90625, 'count': 0},
     {'lower': 6.90625, 'upper': 7.0625, 'count': 16},
     {'lower': 7.0625, 'upper': 7.21875, 'count': 0},
     {'lower': 7.21875, 'upper': 7.375, 'count': 0},
     {'lower': 7.375, 'upper': 7.53125, 'count': 0},
     {'lower': 7.53125, 'upper': 7.6875, 'count': 0},
     {'lower': 7.6875, 'upper': 7.84375, 'count': 0},
     {'lower': 7.84375, 'upper': 8.0, 'count': 5}],
    'count_uniques': 5},
   'dtype': 'uint8',
   'profiler_dtype': 'int'},
  'Year Built': {'stats': {'mismatch': 0,
    'missing': 0,
    'match': 100,
    'hist': [{'lower': 1880.0, 'upper': 1884.03125, 'count': 1},
     {'lower': 1884.03125, 'upper': 1888.0625, 'count': 0},
     {'lower': 1888.0625, 'upper': 1892.09375, 'count': 0},
     {'lower': 1892.09375, 'upper': 1896.125, 'count': 1},
     {'lower': 1896.125, 'upper': 1900.15625, 'count': 1},
     {'lower': 1900.15625, 'upper': 1904.1875, 'count': 0},
     {'lower': 1904.1875, 'upper': 1908.21875, 'count': 0},
     {'lower': 1908.21875, 'upper': 1912.25, 'count': 1},
     {'lower': 1912.25, 'upper': 1916.28125, 'count': 2},
     {'lower': 1916.28125, 'upper': 1920.3125, 'count': 1},
     {'lower': 1920.3125, 'upper': 1924.34375, 'count': 1},
     {'lower': 1924.34375, 'upper': 1928.375, 'count': 3},
     {'lower': 1928.375, 'upper': 1932.40625, 'count': 4},
     {'lower': 1932.40625, 'upper': 1936.4375, 'count': 1},
     {'lower': 1936.4375, 'upper': 1940.46875, 'count': 1},
     {'lower': 1940.46875, 'upper': 1944.5, 'count': 1},
     {'lower': 1944.5, 'upper': 1948.53125, 'count': 0},
     {'lower': 1948.53125, 'upper': 1952.5625, 'count': 4},
     {'lower': 1952.5625, 'upper': 1956.59375, 'count': 9},
     {'lower': 1956.59375, 'upper': 1960.625, 'count': 5},
     {'lower': 1960.625, 'upper': 1964.65625, 'count': 3},
     {'lower': 1964.65625, 'upper': 1968.6875, 'count': 5},
     {'lower': 1968.6875, 'upper': 1972.71875, 'count': 7},
     {'lower': 1972.71875, 'upper': 1976.75, 'count': 2},
     {'lower': 1976.75, 'upper': 1980.78125, 'count': 7},
     {'lower': 1980.78125, 'upper': 1984.8125, 'count': 1},
     {'lower': 1984.8125, 'upper': 1988.84375, 'count': 0},
     {'lower': 1988.84375, 'upper': 1992.875, 'count': 1},
     {'lower': 1992.875, 'upper': 1996.90625, 'count': 8},
     {'lower': 1996.90625, 'upper': 2000.9375, 'count': 5},
     {'lower': 2000.9375, 'upper': 2004.96875, 'count': 7},
     {'lower': 2004.96875, 'upper': 2009.0, 'count': 18}],
    'count_uniques': 56},
   'dtype': 'uint16',

In [86]:
1==1

True

In [99]:
df.ext.set_buffer("*")
df.ext.buffer_window("*", 0, 34).rows.find( ~df.ext.get_buffer().cols.is_match("mass (g)", "int") )

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 500000 elements requested, only 100 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,__match__
0,Aachen,1,Valid,L5,21,Fell,01/01/1880 12:00:00 AM,50.775000,6.083330,"(50.775000, 6.083330)",False
1,Aarhus,2,Valid,H6,720,Fell,01/01/1951 12:00:00 AM,56.183330,10.233330,"(56.183330, 10.233330)",False
2,Abee,6,Valid,EH4,107000,Fell,01/01/1952 12:00:00 AM,54.216670,-113.000000,"(54.216670, -113.000000)",False
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,01/01/1976 12:00:00 AM,16.883330,-99.900000,"(16.883330, -99.900000)",False
4,Achiras,370,Valid,L6,780,Fell,01/01/1902 12:00:00 AM,-33.166670,-64.950000,"(-33.166670, -64.950000)",False
5,Adhi Kot,379,Valid,EH4,4239,Fell,01/01/1919 12:00:00 AM,32.100000,71.800000,"(32.100000, 71.800000)",False
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910,Fell,01/01/1949 12:00:00 AM,44.833330,95.166670,"(44.833330, 95.166670)",False
7,Agen,392,Valid,H5,30000,Fell,01/01/1814 12:00:00 AM,44.216670,0.616670,"(44.216670, 0.616670)",False
8,Aguada,398,Valid,L6,1620,Fell,01/01/1930 12:00:00 AM,-31.600000,-65.233330,"(-31.600000, -65.233330)",False
9,Aguila Blanca,417,Valid,L,1440,Fell,01/01/1920 12:00:00 AM,-30.866670,-64.550000,"(-30.866670, -64.550000)",False
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000,Fell,01/01/1974 12:00:00 AM,16.398060,-9.570280,"(16.398060, -9.570280)",False
11,Ar,424,Valid,L6,24000,Fell,01/01/1925 12:00:00 AM,19.083330,8.383330,"(19.083330, 8.383330)",False
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,01/01/1769 12:00:00 AM,50.666670,2.333330,"(50.666670, 2.333330)",False
13,Akaba,426,Valid,L6,779,Fell,01/01/1949 12:00:00 AM,29.516670,35.050000,"(29.516670, 35.050000)",False
14,Akbarpur,427,Valid,H4,1800,Fell,01/01/1838 12:00:00 AM,29.716670,77.950000,"(29.716670, 77.950000)",False
15,Akwanga,432,Valid,H,3000,Fell,01/01/1959 12:00:00 AM,8.916670,8.433330,"(8.916670, 8.433330)",False
16,Akyumak,433,Valid,"Iron, IVA",50000,Fell,01/01/1981 12:00:00 AM,39.916670,42.816670,"(39.916670, 42.816670)",False
17,Al Rais,446,Valid,CR2-an,160,Fell,01/01/1957 12:00:00 AM,24.416670,39.516670,"(24.416670, 39.516670)",False
18,Al Zarnkh,447,Valid,LL5,700,Fell,01/01/2001 12:00:00 AM,13.660330,28.960000,"(13.660330, 28.960000)",False
19,Alais,448,Valid,CI1,6000,Fell,01/01/1806 12:00:00 AM,44.116670,4.083330,"(44.116670, 4.083330)",False
20,Albareto,453,Valid,L/LL4,2000,Fell,01/01/1766 12:00:00 AM,44.650000,11.016670,"(44.650000, 11.016670)",False
21,Alberta,454,Valid,L,625,Fell,01/01/1949 12:00:00 AM,2.000000,22.666670,"(2.000000, 22.666670)",False
22,Alby sur Chran,458,Valid,Eucrite-mmict,252,Fell,01/01/2002 12:00:00 AM,45.821330,6.015330,"(45.821330, 6.015330)",False
23,Aldsworth,461,Valid,LL5,700,Fell,01/01/1835 12:00:00 AM,51.783330,-1.783330,"(51.783330, -1.783330)",False
24,Aleppo,462,Valid,L6,3200,Fell,01/01/1873 12:00:00 AM,36.233330,37.133330,"(36.233330, 37.133330)",False
25,Alessandria,463,Valid,H5,908,Fell,01/01/1860 12:00:00 AM,44.883330,8.750000,"(44.883330, 8.750000)",False
26,Alexandrovsky,465,Valid,H4,9251,Fell,01/01/1900 12:00:00 AM,50.950000,31.816670,"(50.950000, 31.816670)",False
27,Alfianello,466,Valid,L6,228000,Fell,01/01/1883 12:00:00 AM,45.266670,10.150000,"(45.266670, 10.150000)",False
28,Allegan,2276,Valid,H5,32000,Fell,01/01/1899 12:00:00 AM,42.533330,-85.883330,"(42.533330, -85.883330)",False
29,Allende,2278,Valid,CV3,2000000,Fell,01/01/1969 12:00:00 AM,26.966670,-105.316670,"(26.966670, -105.316670)",False
30,Almahata Sitta,48915,Valid,Ureilite-an,3950,Fell,01/01/2008 12:00:00 AM,20.745750,32.412750,"(20.745750, 32.412750)",False
31,Alta'ameem,2284,Valid,LL5,6000,Fell,01/01/1977 12:00:00 AM,35.273330,44.215560,"(35.273330, 44.215560)",False
32,Ambapur Nagla,2290,Valid,H5,6400,Fell,01/01/1895 12:00:00 AM,27.666670,78.250000,"(27.666670, 78.250000)",False
33,Andhara,2294,Valid,Stone-uncl,2700,Fell,01/01/1880 12:00:00 AM,26.583330,85.566670,"(26.583330, 85.566670)",False

In [101]:
df.ext.profile(columns="mass (g)", infer=True,  flush=True)

{'columns': {'mass (g)': {'stats': {'mismatch': 5,
    'missing': 4,
    'match': 91,
    'frequency': [{'value': '3200', 'count': 4},
     {'value': '50000', 'count': 3},
     {'value': '2000', 'count': 3},
     {'value': '6000', 'count': 2},
     {'value': '15000', 'count': 2},
     {'value': '6400', 'count': 2},
     {'value': '700', 'count': 2},
     {'value': '1000', 'count': 2},
     {'value': '3700', 'count': 2},
     {'value': '2000000', 'count': 1},
     {'value': '21', 'count': 1},
     {'value': '21000', 'count': 1},
     {'value': '1914', 'count': 1},
     {'value': '16700', 'count': 1},
     {'value': '19000', 'count': 1},
     {'value': '228000', 'count': 1},
     {'value': '18000', 'count': 1},
     {'value': '23.2', 'count': 1},
     {'value': '24000', 'count': 1},
     {'value': '1800', 'count': 1},
     {'value': '17900', 'count': 1},
     {'value': '2500', 'count': 1},
     {'value': '1770.5', 'count': 1},
     {'value': '17', 'count': 1},
     {'value': '16000', 'count': 1},
     {'value': '1620', 'count': 1},
     {'value': '1384.2', 'count': 1},
     {'value': '10322', 'count': 1},
     {'value': '107000', 'count': 1},
     {'value': '11500', 'count': 1},
     {'value': '1230', 'count': 1},
     {'value': '1280', 'count': 1},
     {'value': '1300', 'count': 1}],
    'count_uniques': 83},
   'dtype': 'object',
   'profiler_dtype': 'int'}},
 'name': None,
 'file_name': 'Meteorite_Landings.csv',
 'summary': {'cols_count': 10,
  'rows_count': 100,
  'size': '8.1 kB',
  'dtypes_list': ['object'],
  'total_count_dtypes': 1,
  'missing_count': 4,
  'p_missing': 4.0}}

In [6]:
# df = op.load.file("http://159.65.217.17:5003/uploads/datasetFile-1589317774772.csv").ext.cache()
df = op.load.file("http://159.65.217.17:5003/uploads/datasetFile-1589317774772.csv").ext.cache()
df1 = op.load.file("http://159.65.217.17:5003/uploads/datasetFile-1589317774772.csv").ext.cache()
# df.ext.profile("*", output="json")
df1.ext.profile("*", output="json")
# df = df.ext.optimize()
df1 = df1.ext.optimize()
# df.ext.set_buffer("*")
df1.ext.set_buffer("*")

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 500000 elements requested, only 5 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [192]:
df.ext.display()
df1.ext.display()

In [225]:
df.index.astype("object")

TypeError: '>' not supported between instances of 'NoneType' and 'NoneType'

In [256]:
df1.compute()

,id,firstName,lastName,billingId,product,price,birth,dummyCol
0,1,Luis,Alvarez$$%!,123,Cake,10,1980/07/07,never
1,2,Andr,Ampre,167,piza,8,1950/07/08,gonna
2,3,NiELS,Bhr//((%%,39,pizza,8,1990/07/09,give
3,4,PAUL,dirac$,9,pizza,8,1954/07/10,you
4,5,Albert,Einstein,122,pizza,8,1990/07/11,up
5,6,Galileo,GALiLEI,160,arepa,5,1930/08/12,never
6,7,CaRL,Ga%%%uss,67,taco,3,1970/07/13,gonna
7,8,David,H$$$ilbert,112,taaaccoo,3,1950/07/14,let
8,9,Johannes,KEPLER,223,taco,3,1920/04/22,you
9,10,JaMES,M$$ax%%well,107,taco,3,1923/03/12,down
10,11,Isaac,Newton,224,pasta,9,1999/02/15,never
11,12,Emmy%%,Nether$,234,pasta,9,1993/12/08,gonna
12,13,Max!!!,Planck!!!,111,hamburguer,4,1994/01/04,run
13,14,Fred,Hoy&&&le,41,pizzza,8,1997/06/27,around
14,15,((( Heinrich ))))),Hertz,116,pizza,8,1956/11/30,and
15,16,William,Gilbert###,118,BEER,2,1958/03/26,desert
16,17,Marie,CURIE,144,Rice,1,2000/03/22,you
17,18,Arthur,COM%%%pton,44,110790,5,1899/01/01,#
18,19,JAMES,Chadwick,211,NaN,10,1921/05/03,#

In [252]:
df1.dtypes

id              uint8
firstName    category
lastName     category
billingId       uint8
product      category
price           uint8
birth        category
dummyCol     category
dtype: object

In [270]:
df1.cols.join(df1,left_on= "id",right_on="product").compute()

Empty DataFrame
Columns: [firstName_x, lastName_x, billingId_x, product, price_x, birth_x, dummyCol_x, firstName_y, lastName_y, billingId_y, price_y, birth_y, dummyCol_y]
Index: []

In [240]:
a["id"][0]

'1'

In [199]:
df1.cols.cast("id","object").compute()

,id,firstName,lastName,billingId,product,price,birth,dummyCol
0,1,Luis,Alvarez$$%!,123,Cake,10,1980/07/07,never
1,2,Andr,Ampre,167,piza,8,1950/07/08,gonna
2,3,NiELS,Bhr//((%%,39,pizza,8,1990/07/09,give
3,4,PAUL,dirac$,9,pizza,8,1954/07/10,you
4,5,Albert,Einstein,122,pizza,8,1990/07/11,up
5,6,Galileo,GALiLEI,160,arepa,5,1930/08/12,never
6,7,CaRL,Ga%%%uss,67,taco,3,1970/07/13,gonna
7,8,David,H$$$ilbert,112,taaaccoo,3,1950/07/14,let
8,9,Johannes,KEPLER,223,taco,3,1920/04/22,you
9,10,JaMES,M$$ax%%well,107,taco,3,1923/03/12,down
10,11,Isaac,Newton,224,pasta,9,1999/02/15,never
11,12,Emmy%%,Nether$,234,pasta,9,1993/12/08,gonna
12,13,Max!!!,Planck!!!,111,hamburguer,4,1994/01/04,run
13,14,Fred,Hoy&&&le,41,pizzza,8,1997/06/27,around
14,15,((( Heinrich ))))),Hertz,116,pizza,8,1956/11/30,and
15,16,William,Gilbert###,118,BEER,2,1958/03/26,desert
16,17,Marie,CURIE,144,Rice,1,2000/03/22,you
17,18,Arthur,COM%%%pton,44,110790,5,1899/01/01,#
18,19,JAMES,Chadwick,211,NaN,10,1921/05/03,#

In [ ]:
df1.cols.set("nombre",df1["nombre"]=="luis",1,"new name").compute()

In [ ]:
df1.dtypes

In [22]:
df1.ext.profile("*",infer=True, flush=True)

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 30 elements requested, only 5 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

{'columns': {'cedula': {'stats': {'mismatch': 5,
    'missing': 0,
    'match': 0,
    'frequency': [{'value': '24949394', 'count': 1},
     {'value': '23760628', 'count': 1},
     {'value': '21857839', 'count': 1},
     {'value': '19748383', 'count': 1},
     {'value': '17484892', 'count': 1}],
    'count_uniques': 5,
    'profiler_dtype': 'object',
    'hist': [{'count': 1, 'lower': 1.0, 'upper': 0.0},
     {'count': 0, 'lower': 0.0, 'upper': 1.0},
     {'count': 1, 'lower': 1.0, 'upper': 0.0},
     {'count': 0, 'lower': 0.0, 'upper': 0.0},
     {'count': 0, 'lower': 0.0, 'upper': 1.0},
     {'count': 1, 'lower': 1.0, 'upper': 0.0},
     {'count': 0, 'lower': 0.0, 'upper': 1.0},
     {'count': 1, 'lower': 1.0, 'upper': 1.0}]},
   'dtype': 'uint32'},
  'nombre': {'stats': {'mismatch': 5,
    'missing': 0,
    'match': 0,
    'frequency': [{'value': 'pedro', 'count': 1},
     {'value': 'luis', 'count': 1},
     {'value': 'juan', 'count': 1},
     {'value': 'jose', 'count': 1},
     {'value': 'eddy', 'count': 1}],
    'count_uniques': 5,
    'profiler_dtype': 'object'},
   'dtype': 'category'},
  'apellido': {'stats': {'mismatch': 5,
    'missing': 0,
    'match': 0,
    'frequency': [{'value': 'aguirre', 'count': 3},
     {'value': 'martinez', 'count': 1},
     {'value': 'gonzalez', 'count': 1}],
    'count_uniques': 3,
    'profiler_dtype': 'object'},
   'dtype': 'category'}},
 'name': None,
 'file_name': 'tmp60lylob3.csv',
 'summary': {'cols_count': 3,
  'rows_count': 5,
  'size': '462 Bytes',
  'dtypes_list': ['uint32', 'category'],
  'total_count_dtypes': 2,
  'missing_count': 0,
  'p_missing': 0.0}}

In [23]:
df1.ext.buffer_window("*", 0, 10).ext.to_json("*")

{'sample': {'columns': [{'title': 'cedula'},
   {'title': 'nombre'},
   {'title': 'apellido'}],
  'value': [[23760628, 'luis', 'aguirre'],
   [21857839, 'jose', 'aguirre'],
   [19748383, 'eddy', 'aguirre'],
   [24949394, 'juan', 'gonzalez'],
   [17484892, 'pedro', 'martinez']]}}

In [24]:
df1.dtypes

cedula        uint32
nombre      category
apellido    category
dtype: object

In [25]:
df1.ext.buffer_window("*", 0, 10).cols.upper("nombre", output_cols="new nombre").ext.to_json("*")

asdfasf nombre
AAA ['nombre'] ['new nombre']

{'sample': {'columns': [{'title': 'cedula'},
   {'title': 'nombre'},
   {'title': 'apellido'},
   {'title': 'new nombre'}],
  'value': [[23760628, 'luis', 'aguirre', 'LUIS'],
   [21857839, 'jose', 'aguirre', 'JOSE'],
   [19748383, 'eddy', 'aguirre', 'EDDY'],
   [24949394, 'juan', 'gonzalez', 'JUAN'],
   [17484892, 'pedro', 'martinez', 'PEDRO']]}}

In [26]:
df1.ext.display()

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 10 elements requested, only 5 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [54]:
pdf = df1.compute()

In [55]:
pdf.dtypes

cedula        uint32
nombre      category
apellido    category
dtype: object

In [66]:
pdf["nombre"].cat.get_categories()

AttributeError: 'CategoricalAccessor' object has no attribute 'get_categories'

In [63]:
pdf = df1.compute()
# print(pdf)
pdf.cols.set("nombre",pdf["nombre"]=="luis",1,"new name")
# pdf["nombre"].where(~(pdf["nombre"]=="luis"),1)

     cedula nombre  apellido new name
0  23760628   luis   aguirre        1
1  21857839   jose   aguirre     jose
2  19748383   eddy   aguirre     eddy
3  24949394   juan  gonzalez     juan
4  17484892  pedro  martinez    pedro

In [65]:
df1.cols.set("nombre",df1["nombre"]=="luis",1,"new name").compute()

ValueError: new categories must not include old categories: {1}

In [48]:
df1.ext.display()

C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\dask\dataframe\core.py:5979: UserWarning: Insufficient elements for `head`. 10 elements requested, only 5 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [118]:
df = op.load.csv("data/taa.csv", sep=",", error_bad_lines=False, header=True, null_value="null", infer_schema='true', encoding="latin1").ext.cache()
# Meteorite_Landings

distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function check_meta at 0x00000132CB9D5048>, (<function apply at 0x00000132CAE301F8>, <function pandas_read_text at 0x00000132CBA45B88>, [<function _make_parser_function.<locals>.parser_f at 0x00000132CAC063A8>, (<function read_block_from_file at 0x00000132CBAD94C8>, <OpenFile 'C:/Users/argenisleon/Documents/Optimus/examples/data/taa.csv'>, 0, 64000000, b'\n'), b'Company,City,State,District,County,Metro.Area,Product,Petitioner,Layoff.Date,Est..No..Workers,Cause,Country\r\n', (<class 'dict'>, [['sep', ','], ['header', 0], ['encoding', 'latin1'], ['quoting', 0], ['error_bad_lines', False], ['keep_default_na', True], ['na_values', None], ['engine', 'c']]), (<class 'dict'>, [['Company', dtype('O')], ['City', dtype('O')], ['State', dtype('O')], ['District', dtype('int64')], ['County', dtype('O')], ['Metro.Area', dtype('O')], ['Product', dtype('O')], ['Petitioner', dtype('O')], ['Layoff.Date', dtype('O')], ['Est..No..Workers', dtype('float64')], ['Cause', dtype('O')], ['Country', dtype('O'
kwargs:    {}
Exception: ValueError("Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.\n\n+----------+---------+----------+\n| Column   | Found   | Expected |\n+----------+---------+----------+\n| District | float64 | int64    |\n+----------+---------+----------+\n\nUsually this is due to dask's dtype inference failing, and\n*may* be fixed by specifying dtypes manually by adding:\n\ndtype={'District': 'float64'}\n\nto the call to `read_csv`/`read_table`.\n\nAlternatively, provide `assume_missing=True` to interpret\nall unspecified integer columns as floats.")

In [186]:
df = op.load.file("data/crime.csv").ext.cache()

In [171]:
df =df.ext.optimize()

In [173]:
df.meta.get()

{'file_name': 'foo.csv',
 'mime_info': [{'mime': 'text/plain',
   'encoding': 'utf-8',
   'file_ext': 'csv',
   'file_type': 'csv',
   'properties': {'delimiter': ',',
    'doublequote': False,
    'escapechar': None,
    'lineterminator': '\r\n',
    'quotechar': '"',
    'quoting': 0,
    'skipinitialspace': False}}]}

In [174]:
df.ext.display()

In [166]:
CHAR_DICT = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 .!?:,\'%-\(\)/$|&;[]"'
def build_char_dictionary(char_dict=None, unknown_label='UNK'):
    """
        Define possbile char set. Using "UNK" if character does not exist in this set
    """ 

    if char_dict is None:
        char_dict = CHAR_DICT

    unknown_label = unknown_label

    chars = []

    for c in char_dict:
        chars.append(c)

    chars = list(set(chars))

    chars.insert(0, unknown_label)

    num_of_char = len(chars)
    char_indices = dict((c, i) for i, c in enumerate(chars))
    indices_char = dict((i, c) for i, c in enumerate(chars))

    print('Totoal number of chars:', num_of_char)

    print('First 3 char_indices sample:', {k: char_indices[k] for k in list(char_indices)[:3]})
    print('First 3 indices_char sample:', {k: indices_char[k] for k in list(indices_char)[:3]})


    return char_indices, indices_char, num_of_char

def preporcess(labels, char_dict=None, unknown_label='UNK'):

    print('-----> Stage: preprocess')

    build_char_dictionary(char_dict, unknown_label)
    convert_labels(labels)
    
def convert_labels( labels):
    """
        Convert label to numeric
    """
    label2indexes = dict((l, i) for i, l in enumerate(labels))
    index2labels = dict((i, l) for i, l in enumerate(labels))

    
    print('Label to Index: ', label2indexes)
    print('Index to Label: ', index2labels)

    num_of_label = len(label2indexes)

    return label2indexes, index2labels

In [176]:
preporcess(labels=df['firstName'].unique())

-----> Stage: preprocess
Totoal number of chars: 83
First 3 char_indices sample: {'UNK': 0, '1': 1, ']': 2}
First 3 indices_char sample: {0: 'UNK', 1: '1', 2: ']'}
Label to Index:  {'Luis': 0, 'Andr': 1, 'NiELS': 2, 'PAUL': 3, 'Albert': 4, 'Galileo': 5, 'CaRL': 6, 'David': 7, 'Johannes': 8, 'JaMES': 9, 'Isaac': 10, 'Emmy%%': 11, 'Max!!!': 12, 'Fred': 13, '(((   Heinrich )))))': 14, 'William': 15, 'Marie': 16, 'Arthur': 17, 'JAMES': 18}
Index to Label:  {0: 'Luis', 1: 'Andr', 2: 'NiELS', 3: 'PAUL', 4: 'Albert', 5: 'Galileo', 6: 'CaRL', 7: 'David', 8: 'Johannes', 9: 'JaMES', 10: 'Isaac', 11: 'Emmy%%', 12: 'Max!!!', 13: 'Fred', 14: '(((   Heinrich )))))', 15: 'William', 16: 'Marie', 17: 'Arthur', 18: 'JAMES'}

In [188]:
df.compute()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,00619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.35779134,-71.13937053,"(42.35779134, -71.13937053)"
1,I182070943,01402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.30682138,-71.06030035,"(42.30682138, -71.06030035)"
2,I182070941,03410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.34658879,-71.07242943,"(42.34658879, -71.07242943)"
3,I182070940,03114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.33418175,-71.07866441,"(42.33418175, -71.07866441)"
4,I182070938,03114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.27536542,-71.09036101,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,03125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.33695098,-71.08574813,"(42.33695098, -71.08574813)"
319069,I030217815-08,00111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)"
319070,I030217815-08,03125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)"
319071,I010370257-00,03125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.30233307,-71.11156487,"(42.30233307, -71.11156487)"
319072,142052550,03125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.33383935,-71.08029038,"(42.33383935, -71.08029038)"

In [183]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [191]:
%%time
col_name = "INCIDENT_NUMBER"
tk = Tokenizer(num_words=None, char_level=True, oov_token='UNK')
X_train = df[col_name]
tk.fit_on_texts(X_train)
X_train = tk.texts_to_sequences(X_train)

Wall time: 2.33 s

In [257]:
print(sys.getsizeof(X_train))
arr = np.array(X_train, dtype=np.uint8) 
print(sys.getsizeof(arr))

2857944

ValueError: setting an array element with a sequence.

In [243]:
# %%time
import numpy as np
def func(value):
    return [ord(c) for c in value]

a = np.ndarray(np.uint8)
type(a)
# pdf = df[col_name].map(func).astype(dtype=a).compute()

TypeError: expected sequence object with len >= 0 or a single integer

In [233]:
# pdf = df[col_name].compute()

In [234]:
pdf[0]

[73, 49, 56, 50, 48, 55, 48, 57, 52, 53]

In [235]:
import sys
sys.getsizeof(pdf[0])

192

In [236]:
sys.getsizeof("I182070945")

59